{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product_variety %}active{% endblock %}
{% block nav_product %}active{% endblock %}
{% block header_title %}{{ 'Variety'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_variety_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add variety'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-5">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(varieties, 'Name'|trans, 'v.name') }}</th>
                                            <th>{{ 'Variety values'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set varietyCounter = 1 %}
                                        {% for variety in varieties %}
                                            <tr class="tr-hover">
                                                <td>{{ variety.name }}</td>
                                                <td>
                                                    {% if variety.values|length > 0 %}
                                                        <button class="btn btn-flat btn-primary" data-toggle="collapse"
                                                                data-target=".values_{{ varietyCounter }}" aria-expanded="false">
                                                            <span>{{ 'Variety values'|trans }}</span>
                                                        </button>
                                                    {% endif %}
                                                    <a href="{{ path('admin_variety_values_create', {'id': variety.id}) }}" class="btn btn-flat btn-success">{{ 'Add value'|trans }}</a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('admin_variety_edit', {'id': variety.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a class="js-delete-modal" href="{{ path('admin_variety_remove', {'id': variety.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>

                                            {% for value in variety.values %}
                                                <tr class="tr-hover collapse values_{{ varietyCounter }}">
                                                    <td>{{ value.value }}</td>
                                                    <td></td>
                                                    <td>
                                                        <a href="{{ path('admin_variety_values_edit', {'id': variety.id, 'valueId': value.id}) }}"><i class="ti-pencil"></i></a>
                                                        <a class="js-delete-modal" href="{{ path('admin_variety_values_remove', {'id': variety.id, 'valueId': value.id}) }}"><i class="ti-trash"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% set varietyCounter = varietyCounter + 1 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': varieties} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
