<div class="row mt-3">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <button data-toggle="collapse" data-target="#filters" class="btn btn-flat btn-success">
                            {{ 'Filters'|trans }}
                        </button>
                        <a href="{% block clearFilters %}{% endblock %}" class="btn btn-danger btn-flat">{{ 'Clear filters'|trans }}</a>
                    </div>
                </div>
                <div class="row collapse {% if app.request.query|length > 0 %}show{% endif %}" id="filters">
                    <form method="GET">
                        <div class="row justify-content-center mt-3">
                            <div class="col-lg-4">
                                <select name="limit">
                                    {% set values = [10, 50, 100, 200, 500] %}
                                    {% for value in values %}
                                    <option value="{{ value }}" {% if app.request.query.get('limit', 10) == value %}selected{% endif %}>{{ 'Limit'|trans }} ({{ value }})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% block creationDate %}
                        <div class="row mt-3">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-1 mt-1" >
                                <label for="start_date">{{ 'From'|trans }}</label>
                            </div>
                            <div class="col-lg-4">
                                <input value="{% if queryParams.startDate %}{{ queryParams.startDate|date('d-m-Y') }}{% endif %}" id="start_date"
                                       name="start_date" class="form-control js-date" placeholder="11.12.2019">
                            </div>
                            <div class="col-lg-1 mt-1">
                                <label for="end_date">{{ 'To'|trans }}</label>
                            </div>
                            <div class="col-lg-4">
                                <input value="{% if queryParams.endDate %}{{ queryParams.endDate|date('d-m-Y') }}{% endif %}" id="end_date"
                                       name="end_date" class="form-control js-date" placeholder="12.12.2019">
                            </div>
                        </div>
                        {% endblock %}
                        {% block extraFilters %}{% endblock %}
                        <div class="row mt-5 justify-content-center">
                            <div class="col-lg-1 mt-2">
                                <button type="submit" class="btn btn-flat btn-primary">{{ 'Apply'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
