{% extends 'admin/admin_layout.html.twig' %}

{% block nav_post %}active{% endblock %}
{% block nav_posts %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Media'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_post_media_add_local_image', {'id': post.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Upload image'|trans }}</a>
                            <a href="{{ path('admin_post_media_add_remote_image', {'id': post.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add link'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Media type'|trans }}</th>
                                            <th>{{ 'Preview'|trans }}</th>
                                            <th>{{ 'Is post preview'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for image in post.media.images %}
                                            <tr class="tr-hover">
                                                <td>{{ image.type|trans }}</td>
                                                <td>
                                                    <img style="max-height: 256px; max-width: 256px" class="img-thumbnail" src="{{ asset(services.media.post.pic(image)) }}">
                                                </td>
                                                <td>
                                                    {% if post.previewImage and image.id == post.previewImage.id %}
                                                        {{ 'Yes'|trans }}
                                                    {% else %}
                                                        <a class="btn btn-success" href="{{ path('admin_post_media_set_as_preview', {'id': post.id, 'imageId': image.id}) }}">{{ 'Set as preview image'|trans }}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('admin_post_media_remove', {'id': post.id, 'imageId': image.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_post_create_translation', {'id': post.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Title'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for translation in post.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ translation.locale|upper }}</td>
                                                <td>{{ translation.title }}</td>
                                                <td>
                                                    <a href="{{ path('admin_post_edit_translation', {'id': post.id, 'transId': translation.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_post_remove_translation', {'id': post.id, 'transId': translation.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Meta data translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_post_create_meta_translation', {'id': post.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Page title'|trans }}</th>
                                            <th>{{ 'Meta title'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for meta in post.meta.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ meta.locale|upper }}</td>
                                                <td>{{ meta.pageTitle }}</td>
                                                <td>{{ meta.metaTitle }}</td>
                                                <td>
                                                    <a href="{{ path('admin_post_edit_meta_translation', {'id': post.id, 'transId': meta.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_post_remove_meta_translation', {'id': post.id, 'transId': meta.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {% embed 'extension/tinymce/_tinymce.html.twig' with {'selector': 'post_content', 'images_upload_url': path('ajax_post_media_tiny_mce_upload_image', {'id': post.id})} %}{% endembed %}
{% endblock %}
