{% extends 'admin/admin_layout.html.twig' %}

{% block nav_post %}active{% endblock %}
{% block nav_posts %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {% embed 'extension/tinymce/_tinymce.html.twig' with {'selector': 'post_translation_content'} %}{% endembed %}
{% endblock %}
