{% extends 'admin/admin_layout.html.twig' %}

{% block nav_post %}active{% endblock %}
{% block nav_posts %}active{% endblock %}
{% block header_title %}{{ 'Posts'|trans }}{% endblock %}

{% block content %}
    {% set dateFormat = services.globals.get('date_format') %}

    {% embed 'admin/modules/_filters.html.twig' %}
        {% block clearFilters %}{{ path('admin_post_index') }}{% endblock %}

        {% block extraFilters %}
            <div class="row mt-3">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 mt-1" >
                    <label for="category">{{ 'Search'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <input value="{% if queryParams.hasFilter('query') %}{{ queryParams.filter('query') }}{% endif %}" class="form-control" type="text" name="filters[query]" id="search">
                </div>
                <div class="col-lg-1 mt-1" >
                    <label for="category">{{ 'Is visible'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <div class="custom-control custom-checkbox">
                        <input name="filters[is_visible]" type="checkbox" class="custom-control-input" id="filters[is_visible]" {% if queryParams.hasFilter('is_visible') %}checked{% endif %}>
                        <label class="custom-control-label" for="filters[is_visible]">{{ 'Is post visible'|trans }}</label>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_post_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add post'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-5">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(posts, 'Title'|trans, 'p.title') }}</th>
                                            <th>{{ knp_pagination_sortable(posts, 'Type'|trans, 'p.type') }}</th>
                                            <th>{{ knp_pagination_sortable(posts, 'Creation date'|trans, 'p.creationDate') }}</th>
                                            <th>{{ knp_pagination_sortable(posts, 'Is visible'|trans, 'p.isVisible') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for post in posts %}
                                            <tr class="tr-hover">
                                                <td>{{ post.title }}</td>
                                                <td>{{ post.type|trans }}</td>
                                                <td>{{ post.creationDate|date(dateFormat) }}</td>
                                                <td>{{ post.isVisible ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>
                                                    <a href="{{ path('admin_post_edit', {'id': post.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a class="js-delete-modal" href="{{ path('admin_post_remove', {'id': post.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': posts} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
