{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    <section class="mt-220" style="min-height: 500px">
        <div class="container" style="margin-bottom: 100px">
            <div class="row justify-content-start">
                {% for post in posts %}
                    <div class="col-lg-4 col-12 mt-10">
                        <div class="card">
                            <div class="row justify-content-center">
                                <div class="col-md-12 text-center">
                                    {% if post.previewImage %}
                                    <div class="card-header">
                                        <img src="{{ asset(services.media.post.pic(post.previewImage)) }}" class="img-thumbnail">
                                    </div>
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ services.translator.trans(post, 'title') }}</h5>
                                        <p class="card-text fw500 text-dark js-desc">{{ services.text.formatHtmlInput(services.translator.trans(post, 'content'), 300) }}</p>
                                        <p class="card-text"><small class="text-muted fw500 text-dark">{{ post.creationDate|date('d-m-Y') }}</small></p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="{{ path('site_blog_read', {'slug': post.slug}) }}" class="view-btn">
                                            <i class="lnr lnr-book mr-10 text-light"></i>
                                            <span>{{ 'Read post'|trans }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <script>
                let max = 0;

                $('.js-desc').each(function () {
                    let thisHeight = $(this).height();

                    if (thisHeight > max) {
                        max = thisHeight;
                    }
                });

                $('.js-desc').each(function () {
                    $(this).height(max);
                })
            </script>
            <div class="container-fluid mt-20 ml-20">
                {% embed 'site/themes/default/pagination/_pagination.html.twig' with {'content': posts} %}{% endembed %}
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script rel="script" src="{{ asset('assets/site/themes/default/includes/js/custom-styles.js') }}"></script>
{% endblock %}
