{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ post.meta.pageTitle }}{% endblock %}
{% block metaDescription %}{{ post.meta.metaDesc }}{% endblock %}
{% block metaTitle %}{{ post.meta.metaTitle }}{% endblock %}
{% block metaKeywords %}{{ post.meta.metaKeywords }}{% endblock %}

{% block content %}
    <section class="mt-220" style="min-height: 500px">
        <div class="container" style="margin-bottom: 100px">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-12 mt-10">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-md-12 text-center">
                                <div class="card-header">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                </div>
                                <div class="card-body custom-content">
                                    {{ post.content|raw }}
                                </div>
                                <div class="card-footer text-center">
                                    <a href="{{ path('site_blog_index') }}" class="view-btn">
                                        <i class="lnr lnr-book mr-10 text-light"></i>
                                        <span>{{ 'Return back'|trans }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script rel="script" src="{{ asset('assets/site/themes/default/includes/js/custom-styles.js') }}"></script>
{% endblock %}
