{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_site_pages %}active{% endblock %}
{% block nav_site_pages_groups %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_site_pages_groups_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add group'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th>{{ 'Template'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for group in groups %}
                                            <tr class="tr-hover">
                                                <td>{{ group.name }}</td>
                                                <td>{{ group.twigTemplate ? group.twigTemplate : 'Not related to any'|trans }}</td>
                                                <td>
                                                    <a href="{{ path('admin_site_pages_groups_edit', {'id': group.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_site_pages_groups_remove', {'id': group.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
