{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}<a href="{{ path('admin_product_edit', {'id': product.id}) }}">{{ 'Back to product'|trans }}</a>{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.attachment) }}
                    <div class="mt-1 mb-3">
                        <img style="max-height: 512px; display: none" class="img-thumbnail" id="image-preview">
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $('.custom-file-input').change(readImageInput)
</script>
{% endblock %}
