{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}{{ 'Add image'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form id="form" action="{{ path('admin_product_media_upload_multiple_images', {'id': product.id}) }}" method="post"
                          class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="local_image_attachment_1" class="required"></label>
                            <div>
                                <input type="file" id="local_image_attachment" name="image_1" class="file">
                            </div>
                            <div class="form-group mt-10">
                                <button onclick="remove(event)" type="button" class="btn-outline-danger btn-sm btn remove">{{ 'Remove'|trans }}</button>
                            </div>
                        </div>
                        <div class="form-group" id="insertBefore">
                            <button type="submit" id="save" class="btn-primary btn">{{ 'Save'|trans }}</button>
                            <button type="button" id="more" class="btn-outline-success btn">{{ 'More'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        let iterator = 2;

        $('#more').on('click', function () {
            $(getFileTemplate(++iterator)).insertBefore($('#insertBefore'));
        });

        function remove(e) {
            e.preventDefault();
            e.stopPropagation();

            $(e.target).parent().parent().remove();
        }

        function getFileTemplate(iterator) {
            let fileTemplate =
                `<div class="form-group">
                   <label for="local_image_attachment_${iterator}" class="required">Image</label>
                     <div>
                         <input type="file" id="local_image_attachment" name="image_${iterator}" class="file">
                     </div>
                        <div class="form-group mt-10">
                            <button onclick="remove(event)" type="button" class="btn-outline-danger btn remove">{{ 'Remove'|trans }}</button>
                        </div>
                </div>`;

            return fileTemplate;
        }
    </script>
{% endblock %}
