{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_site_menu %}active{% endblock %}
{% block nav_site_menu_links %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
