{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_site_menu %}active{% endblock %}
{% block nav_site_menu_links %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_site_menu_links_create_internal') }}" class="btn btn-flat btn-info text-white">{{ 'Add internal link'|trans }}</a>
                            <a href="{{ path('admin_site_menu_links_create_external') }}" class="btn btn-flat btn-info text-white">{{ 'Add external link'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for link in links %}
                                            <tr class="tr-hover">
                                                <td>{{ link.name }}</td>
                                                <td>{{ link.type|trans }}</td>
                                                <td>
                                                    {% if link.isInternal %}
                                                    <a href="{{ path('admin_site_menu_links_edit_internal', {'id': link.id}) }}"><i class="ti-pencil"></i></a>
                                                    {% endif %}

                                                    {% if link.isExternal %}
                                                    <a href="{{ path('admin_site_menu_links_edit_external', {'id': link.id}) }}"><i class="ti-pencil"></i></a>
                                                    {% endif %}

                                                    <a  class="js-delete-modal" href="{{ path('admin_site_menu_links_remove', {'id': link.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
