{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site_part %}active{% endblock %}
{% block nav_site_metrics %}active{% endblock %}
{% block header_title %}{{ 'Metrics'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(googleForm) }}
                    {{ form(yandexForm) }}
                    {{ form(googleSearchForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
