@media (min-width: 1000px) {
}

.mt-150 {
    margin-top: 150px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mt-220 {
    margin-top: 220px;
}

.ml-100 {
    margin-left: 100px;
}

.crossed {
    text-decoration: line-through;
}

.btn-text {
    color: white !important;
}

.btn-text:hover {
    color: black!important;
}

.hidden {
    display: none!important;
}

.view-btn.sm {
    max-width: 40px!important;
}

@media (max-width: 500px) {
    .error-container, .error-container .container-fluid, .error-container .container-fluid .row {
        min-height: 500px;
    }
}

@media (min-width: 800px) {
    .error-container, .error-container .container-fluid, .error-container .container-fluid .row {
        min-height: 800px;
    }
}

@media (min-width: 505px) {
    .error-container, .error-container .container-fluid, .error-container .container-fluid .row {
        min-height: 800px;
    }
}

.w-215 {
    width: 215px!important;
}