{% extends 'admin/admin_layout.html.twig' %}

{% block nav_order_coupons %}active{% endblock %}
{% block header_title %}{{ 'Coupons'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_coupon_create_fixed') }}" class="btn btn-flat btn-info text-white">{{ 'Add fixed coupon'|trans }}</a>
                            <a href="{{ path('admin_coupon_create_percentage') }}" class="btn btn-flat btn-info text-white">{{ 'Add percentage coupon'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-5">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(coupons, 'Code of the coupon'|trans, 'c.code') }}</th>
                                            <th>{{ knp_pagination_sortable(coupons, 'Discount type'|trans, 'c.discountType') }}</th>
                                            <th>{{ 'Discount'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for coupon in coupons %}
                                            <tr class="tr-hover">
                                                <td>{{ coupon.code }}</td>
                                                <td>{{ coupon.discountType|trans}}</td>
                                                <td>{{ coupon.isFixed ? coupon.discountFixed : (coupon.discountPercent * 100) ~ '%' }}</td>
                                                <td>
                                                    {% if coupon.isFixed %}
                                                        <a href="{{ path('admin_coupon_edit_fixed', {'id': coupon.id}) }}"><i class="ti-pencil"></i></a>
                                                    {% endif %}

                                                    {% if coupon.isPercent %}
                                                        <a href="{{ path('admin_coupon_edit_percentage', {'id': coupon.id}) }}"><i class="ti-pencil"></i></a>
                                                    {% endif %}
                                                    <a class="js-delete-modal" href="{{ path('admin_coupon_remove', {'id': coupon.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': coupons} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
