{% extends 'admin/base.html.twig' %}

{% block body %}
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header text-center">
                <a class="text-white btn-info btn-sm btn-flat btn" href="{{ path('site_index') }}"><span class="return-to-site">{{ 'Return to the site'|trans }}</span></a>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="{% block nav_dashboard %}{% endblock %}">
                                <a href="{{ path('admin_dashboard_index') }}">
                                    <i class="ti-pie-chart"></i>
                                    <span class="nav-span">{{ 'Dashboard'|trans }}</span>
                                </a>
                            </li>
                            <li class="{% block nav_product %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-package"></i>
                                    <span class="nav-span" style="padding-left: 1px">{{ 'Product'|trans }}</span>
                                </a>
                                <ul class="collapse">
                                    <li class="{% block nav_products %}{% endblock %}">
                                        <a href="{{ path('admin_product_index') }}">
                                            <i class="ti-archive"></i>
                                            <span class="nav-sub-span">{{ 'Products'|trans }}</span>
                                        </a>
                                    </li>
                                    <li class="{% block nav_product_variety %}{% endblock %}">
                                        <a href="{{ path('admin_variety_index') }}">
                                            <i class="ti-layers-alt"></i>
                                            <span class="nav-sub-span">{{ 'Variety'|trans }}</span>
                                        </a>
                                    </li>
                                    <li class="{% block nav_product_specifications %}{% endblock %}">
                                        <a href="{{ path('admin_specification_index') }}">
                                            <i class="ti-layers-alt"></i>
                                            <span class="nav-sub-span">{{ 'Specifications'|trans }}</span>
                                        </a>
                                    </li>
                                    <li class="{% block nav_product_categories %}{% endblock %}">
                                        <a href="{{ path('admin_product_category_index') }}">
                                            <i class="ti-layers"></i>
                                            <span class="nav-sub-span">{{ 'Categories'|trans }}</span>
                                        </a>
                                    </li>
                                    <li class="{% block nav_product_sub_categories %}{% endblock %}">
                                        <a href="{{ path('admin_product_sub_category_index') }}">
                                            <i class="ti-layers"></i>
                                            <span class="nav-sub-span">{{ 'Sub categories'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_order %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-shopping-cart"></i>
                                    <span class="nav-span" style="padding-left: 1px">{{ 'Orders'|trans }}</span>
                                </a>
                                <ul class="collapse">
                                    <li class="{% block nav_orders %}{% endblock %}">
                                        <a href="{{ path('admin_order_index') }}">
                                            <i class="ti-bookmark-alt"></i>
                                            <span class="nav-sub-span">{{ 'Orders'|trans }}</span>
                                        </a>
                                    </li>
                                    <li class="{% block nav_order_coupons %}{% endblock %}">
                                        <a href="{{ path('admin_coupon_index') }}">
                                            <i class="ti-gift"></i>
                                            <span class="nav-sub-span">{{ 'Coupons'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_payment %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-wallet"></i>
                                    <span class="nav-span">{{ 'Payment'|trans }}</span>
                                </a>
                                <ul class="collapse">
                                    <li class="{% block nav_payment_liqpay_settings %}{% endblock %}">
                                        <a href="{{ path('admin_payment_liqpay_settings') }}">
                                            <i class="ti-shortcode"></i>
                                            <span class="nav-sub-span">{{ 'LiqPay'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_delivery %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-truck"></i>
                                    <span class="nav-span" style="padding-left: 1px">{{ 'Delivery'|trans }}</span>
                                </a>
                                <ul class="collapse">
                                    <li class="{% block nav_couriers %}{% endblock %}">
                                        <a href="{{ path('admin_courier_index') }}">
                                            <i class="ti-bag"></i>
                                            <span class="nav-sub-span">{{ 'Couriers'|trans }}</span>
                                        </a>
                                    </li>
                                    <li class="{% block nav_delivery_nova_poshta_settings %}{% endblock %}">
                                        <a href="{{ path('admin_delivery_company_nova_poshta_settings') }}">
                                            <i class="ti-car"></i>
                                            <span class="nav-sub-span">{{ 'Nova poshta'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_site %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true">
                                    <i class="ti-layout-accordion-merged"></i>
                                    <span class="nav-span">{{ 'Site'|trans }}</span>
                                </a>
                                <ul class="collapse">
                                    <li class="{% block nav_site_pages %}{% endblock %}">
                                        <a href="javascript:void(0)" aria-expanded="true">
                                            <i class="ti-layout-slider-alt"></i>
                                            {{ 'Site pages'|trans }}
                                        </a>
                                        <ul class="collapse">
                                            <li class="{% block nav_site_pages_pages %}{% endblock %}">
                                                <a href="{{ path('admin_site_pages_index') }}">{{ 'Pages'|trans }}</a>
                                            </li>
                                            <li class="{% block nav_site_pages_groups %}{% endblock %}">
                                                <a href="{{ path('admin_site_pages_groups_index') }}">{{ 'Groups'|trans }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="{% block nav_site_menu %}{% endblock %}">
                                        <a href="javascript:void(0)" aria-expanded="true">
                                            <i class="ti-link"></i>
                                            {{ 'Menu'|trans }}
                                        </a>
                                        <ul class="collapse">
                                            <li class="{% block nav_site_menu_menus %}{% endblock %}">
                                                <a href="{{ path('admin_site_menu_index') }}">{{ 'Menus'|trans }}</a>
                                            </li>
                                            <li class="{% block nav_site_menu_links %}{% endblock %}">
                                                <a href="{{ path('admin_site_menu_links_index') }}">{{ 'Menu links'|trans }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_post %}{% endblock %}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-announcement"></i>
                                    <span class="nav-span" style="padding-left: 1px">{{ 'Publishes'|trans }}</span>
                                </a>
                                <ul class="collapse">
                                    <li class="{% block nav_posts %}{% endblock %}">
                                        <a href="{{ path('admin_post_index') }}">
                                            <i class="ti-write"></i>
                                            <span class="nav-sub-span">{{ 'Posts'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% block nav_logs %}{% endblock %}">
                                <a href="{{ path('admin_log_index') }}">
                                    <i class="ti-eye"></i>
                                    <span class="nav-span">{{ 'Logs'|trans }}</span>
                                </a>
                            </li>
                            <li class="{% block nav_settings %}{% endblock %}">
                                <a href="{{ path('admin_settings_index') }}">
                                    <i class="ti-settings"></i>
                                    <span class="nav-span">{{ 'Settings'|trans }}</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}">
                                    <i class="ti-close"></i>
                                    <span class="nav-span">{{ 'Log out'|trans }}</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="search-box pull-left">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-world dropdown-toggle" data-toggle="dropdown"></i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <div class="card">
                                        <div class="card-body" style="overflow: scroll; max-height: 500px">
                                            <h4 class="header-title">Languages</h4>
                                            <div class="timeline-area">
                                                {% set route = app.request.attributes.get('_route') %}
                                                {% set route_params = app.request.attributes.get('_route_params') %}
                                                {% set params = route_params|merge(app.request.query.all) %}
                                                {% set locales = services.globals.get('enabled_locales').toArray %}
                                                <div class="timeline-task">
                                                    {% for locale in locales %}
                                                        <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}">
                                                            <img width="45px" height="32px" src="{{ asset('img/flags/' ~ locale ~ '.png') }}" alt="{{ locale }}"> <span style="margin-left: 20px;">{{ locale|upper }}</span>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">{% block header_title %}{% endblock %}</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ app.user.login|upper }} <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('admin_settings_index') }}">{{ 'Settings'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('logout') }}">{{ 'Log Out' }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content-inner">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="footer-area">
                <p>© {{ 'Copyright'|trans }} {{ 'now'|date('Y') }}. {{ 'All right reserved'|trans }}. <a href="https://itify.com.ua">itify.com.ua</a></p>
            </div>
        </footer>
    </div>
{% endblock %}
