<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin dashboard{% endblock %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/metisMenu.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/slicknav.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/typography.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/default-css.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/responsive.css') }}">
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="{{ asset('assets/admin/js/vendor/modernizr-2.8.3.min.js') }}"></script>

    {% block css %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block modals %}{% endblock %}

{% embed 'admin/modals/_delete_confirmation_modal.html.twig' %}{% endembed %}

<script src="{{ asset('assets/admin/js/vendor/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/metisMenu.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/jquery.slicknav.min.js') }}"></script>
<script src="{{ asset('assets/admin/js/plugins.js') }}"></script>
<script src="{{ asset('assets/admin/js/scripts.js') }}"></script>
<script src="{{ asset('assets/admin/js/modals.js') }}"></script>
{% block adminGlobalJs %}<script src="{{ asset('assets/admin/js/global.js') }}"></script>{% endblock %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{{ asset('assets/admin/js/datepicker/datepicker-' ~ app.request.locale ~ '.js') }}"></script>
<script src="{{ asset('assets/admin/js/jquery/jquery-punch.js') }}"></script>
{% block js %}{% endblock %}
<script src="{{ asset('assets/admin/js/line-chart.js') }}"></script>
</body>
</html>
