{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'Oops! Error...'|trans }}{% endblock %}

{% block body %}
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <div class="error-area ptb--100 text-center">
        <div class="container">
            <div class="error-content">
                <h2>{{ error.code }}</h2>
                <p>{{ error.message }}</p>
                <a href="{{ path('admin_dashboard_index') }}">{{ 'Back to dashboard'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}