{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    <section class="mt-150" style="min-height: 500px">
        <div class="container">
            <div class="container">
                <div class="section-top-border">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <form id="myForm">
                                    <div class="p-3 p-lg-5 border">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label for="name" class="text-black">{{ 'Name'|trans }} <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label for="phone" class="text-black">{{ 'Phone'|trans }} <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="phone" name="phone" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label for="c_message" class="text-black">{{ 'Message'|trans }} </label>
                                                <textarea required name="message" id="yourMessage" cols="30" rows="7" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <input type="button" id="send" class="btn btn-primary btn-lg btn-block" value="Отправить">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5 ml-auto">
                                <div class="p-4 border mb-3">
                                    <span class="d-block text-primary h6 text-uppercase"></span>
                                    <p class="mt-30 mb-0 lnr lnr-phone-handset"><a class="ml-5" href="tel:+{{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_PHONE')) }}"> {{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_PHONE')) }}</a></p>
                                    <p></p>
                                    <p class="mt-30 mb-0 lnr lnr-smartphone"><a class="ml-5" href="tel:+{{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_VIBER')) }}"> Viber - {{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_VIBER')) }}</a></p>
                                    <p></p>
                                    <p class="mt-30 mb-0 lnr lnr-smartphone"><a class="ml-5" href="tel:+{{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_TELEGRAM')) }}"> Telegram - {{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_TELEGRAM')) }}</a></p>
                                    <p></p>
                                    <p class="mt-30 mb-0 lnr lnr-smartphone"><a class="ml-5" href="tel:+{{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_WHATS_UP')) }}"> What's up - {{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::CONTACT_WHATS_UP')) }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $('#send').on('click', function () {
            $.ajax({
                url: '{{ path('ajax_send_email_contact_form') }}',
                method: 'POST',
                data: {
                    text: `${$('#yourMessage').val()} from ${$('#phone').val()} ( ${$('#name').val()} )`
                },
                success: function () {
                    $('#myForm').html(`<div class="alert alert-success text-center">Отправлено</div>`)
                }
            });

            return false;
        });
    </script>
{% endblock %}
