<div class="modal fade" id="delete-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Are you sure?'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="delete-modal-icon text-center">
                            <i class="ti-help"></i>
                        </div>
                    </div>
                </div>
                <h6>{{ 'Are you sure that you want to delete this item(s) ?'|trans }}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">{{ 'No'|trans }}</button>
                <a id="delete-modal-link" type="button" class="btn btn-success btn-flat">{{ 'Yes'|trans }}</a>
            </div>
        </div>
    </div>
</div>
