<div class="modal fade" id="export-products" tabindex="-1" role="dialog" aria-labelledby="exportModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportModalTitle">{{ 'Export'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('admin_product_export_index') }}" method="post" id="exportForm">
                    <div class="row form-group">
                        <div class="col-12 col-md-12">
                            <select id="exportType" class="form-control" name="extension">
                                <option value="csv">CSV</option>
                                <option selected value="xml">XML</option>
                                <option value="xlsx">XLSX</option>
                            </select>
                            <small class="form-text text-muted">{{ 'Which format?'|trans }}</small>
                        </div>
                        <div class="col-12 col-md-12 mt-20" id="xml-return-life-link">
                            <div class="custom-control custom-checkbox">
                                <input name="xml_return_life_link" type="checkbox" class="custom-control-input" id="xml-return-life-link-input">
                                <label class="custom-control-label" for="xml-return-life-link-input">{{ 'Return for term of life link'|trans }}</label>
                            </div>
                        </div>
                    </div>
                    <input id="exportBtn" type="submit" class="btn btn-flat btn-primary" value="{{ 'Export'|trans }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-secondary" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>