{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_site_pages %}active{% endblock %}
{% block nav_site_pages_pages %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_site_pages_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add page'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(pages, 'Title'|trans, 'sp.title') }}</th>
                                            <th>{{ knp_pagination_sortable(pages, 'Is static'|trans, 'sp.isStatic') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for page in pages %}
                                            <tr class="tr-hover">
                                                <td>{{ page.title }}</td>
                                                <td>{{ page.isStatic ? 'Yes'|trans : 'No'|trans }}</td>
                                                <td>
                                                    {% if page.isStatic %}
                                                        <a href="{{ path('admin_site_pages_edit_static', {'id': page.id}) }}"><i class="ti-pencil"></i></a>
                                                    {% else %}
                                                        <a href="{{ path('admin_site_pages_edit', {'id': page.id}) }}"><i class="ti-pencil"></i></a>
                                                    {% endif %}

                                                    {% if not page.isStatic %}
                                                        <a  class="js-delete-modal" href="{{ path('admin_site_pages_remove', {'id': page.id}) }}"><i class="ti-trash"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': pages} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
