{% extends 'admin/admin_layout.html.twig' %}

{% block nav_dashboard %}active{% endblock %}
{% block header_title %}{{ 'Dashboard'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mt-5 mb-3">
            <div class="card">
                <div class="seo-fact sbg1">
                    <div class="p-4 d-flex justify-content-between align-items-center">
                        <div class="seofct-icon"><i class="ti-package"></i> {{ 'Total orders'|trans }}</div>
                        <h2>{{ orderCount.total }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-md-5 mb-3">
            <div class="card">
                <div class="seo-fact sbg2">
                    <div class="p-4 d-flex justify-content-between align-items-center">
                        <div class="seofct-icon"><i class="ti-share"></i> {{ 'Total completed orders'|trans }}</div>
                        <h2>{{ orderCount.totalCompleted }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">{{ 'Today order list'|trans }}</h4>
                    <div class="table-responsive">
                        <table class="dbkit-table">
                            <tbody>
                            <tr class="heading-td">
                                <td>{{ 'Name'|trans }}</td>
                                <td>{{ 'Order status'|trans }}</td>
                                <td>{{ 'Phone number'|trans }}</td>
                                <td>{{ 'View Order'|trans }}</td>
                            </tr>
                            {% for order in todayOrders %}
                            <tr>
                                <td>{{ order.name }}</td>
                                <td>{{ order.status|trans }}</td>
                                <td>{{ order.phone }}</td>
                                <td><a href="{{ path('admin_order_edit', {'id': order.id}) }}">{{ 'View Order'|trans }}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': todayOrders} %}{% endembed %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">User Statistics</h4>
                    <div id="user-statistics"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
{% endblock %}
