{% extends 'admin/admin_layout.html.twig' %}

{% block nav_logs %}active{% endblock %}
{% block header_title %}{{ 'Logs'|trans }}{% endblock %}

{% block content %}
{% set dateFormat = services.globals.get('date_format') %}

    {% embed 'admin/modules/_filters.html.twig' %}
        {% block clearFilters %}{{ path('admin_log_index') }}{% endblock %}

        {% block extraFilters %}
            <div class="row mt-3">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 mt-1" >
                    <label for="source">{{ 'Log source'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="source" name="filters[source]" class="form-control">
                        {% for source in possibleSources %}
                            <option {% if queryParams.hasFilter('source') and queryParams.filter('source') == source %}selected{% endif %} value="{{ source }}">{{ source|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-1 mt-1">
                    <label for="level">{{ 'Level'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="level" name="filters[level]" class="form-control">
                        {% for level in possibleLevels %}
                            <option {% if queryParams.hasFilter('level') and queryParams.filter('level') == level %}selected{% endif %} value="{{ level }}">{{ level|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('admin_log_clean_info_and_warning') }}" class="btn btn-flat btn-warning js-delete-modal">{{ 'Delete info and warnings'|trans }}</a>
                            <a href="{{ path('admin_log_clean_all_logs') }}" class="btn btn-flat btn-danger js-delete-modal ml-1">{{ 'Delete all logs'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(logs, 'Level'|trans, 'l.level') }}</th>
                                            <th>{{ knp_pagination_sortable(logs, 'Log source'|trans, 'l.source') }}</th>
                                            <th>{{ 'Log message'|trans }}</th>
                                            <th>{{ knp_pagination_sortable(logs, 'Date'|trans, 'l.creationDate') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for log in logs %}
                                            <tr class="tr-hover">
                                                <td>{{ log.level }}</td>
                                                <td>{{ log.source }}</td>
                                                <td>{{ services.text.short(log.message) }}</td>
                                                <td>{{ log.creationDate|date(dateFormat) }}</td>
                                                <td>
                                                    <a  class="js-delete-modal" href=""><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': logs} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('#start_date').datepicker({
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });

        $('#end_date').datepicker({
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    </script>
{% endblock %}
