.nav-span {
    font-size: 15px!important;
    color: white!important;
}

.nav-sub-span {
    margin-left: 3px;
}

.return-to-site {
    font-size: 15px!important;
    font-weight: 500!important;
}

.delete-modal-icon {
    font-size: 100px!important;
}

a {
    font-weight: 500!important;
}

p {
    font-weight: 500!important;
}

span {
    font-weight: 500!important;
}

.single-table i {
    color: black!important;
    font-size: 20px !important;
}

.single-table i:hover {
    color: #1bd4a6 !important;
    font-size: 20px !important;
}

.single-table a:not(.custom-color), th:not(.text-dark) {
    color: white!important;
}

.single-table a:hover {
    color: #1bd4a6!important;
}

.single-table td {
    vertical-align: middle!important;
}

.tr-hover:hover {
    background-color: rgba(22, 233, 255, 0.29) !important;
    font-weight: 500;
}

select:not(.ui-datepicker-year) {
    min-height: 45px!important;
}

.ui-datepicker-calendar th span {
    color: black;
}

label {
    font-weight: 500;
    color: black;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.fw500 {
    font-weight: 500;
}

.mt-10 {
    margin-top: 10px;
}
