
{% if pageCount > 1 %}
    <div class="pagination">
        {% if previous is defined %}
            <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        {% else %}
            <a rel="prev" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        {% endif %}

        {% if startPage > 1 %}
            <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            {% if startPage == 3 %}
                <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
            {% elseif startPage != 2 %}
                <a class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <a class="active">{{ page }}</a>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <a class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                {% endif %}
            {% endif %}
            <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
        {% endif %}

        {% if next is defined %}
            <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        {% else %}
            <a class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        {% endif %}
    </div>
{% endif %}
