{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    {% set currency     = services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::APP_CURRENCY')) %}
    {% set courierPrice = services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::COURIER_PRICE')).toInt %}
    {% set novaPrice    = services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::NOVA_POSHTA_PRICE')).toInt %}

    <section class="mt-120">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
                <div class="col-first">
                    <h1 class="text-dark">{{ 'Checkout'|trans }}</h1>
                    <nav class="d-flex align-items-center justify-content-start">
                        <a class="text-dark" href="{{ path('site_index') }}">{{ 'Home page'|trans }}
                            <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a class="text-dark" href="{{ path('site_catalog_index') }}">{{ 'Catalog'|trans }}</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        {% if not app.user %}
            <div class="checkput-login">
                <div class="top-title">
                    <p class="fw500"><span class="text-white">{{ 'Registered?'|trans }}</span>
                        <a href="" aria-expanded="false" aria-controls="checkout-login">{{ 'Sign In'|trans }}</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container mt-20 mb-120">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <h3 class="billing-title mt-20 mb-10">{{ 'Your personal info'|trans }}</h3>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.surname) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-lg-12">
                        {{ form_row(form.coupon) }}
                    </div>
                </div>
                <h3 class="billing-title mt-20 mb-10">{{ 'Delivery type'|trans }}</h3>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.deliveryType) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.city) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.address) }}
                    </div>
                </div>
                <div class="row" id="js-courier-price">
                    <div class="col-lg-12">
                        <span class="text-danger fw500">*{{ 'Plus'|trans }} {{ courierPrice|number_format(2, '.', '') }} {{ currency|trans }} {{ 'to Your order' }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.nova_city) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.nova_warehouse) }}
                    </div>
                </div>
                <div class="row" id="js-nova-price">
                    <div class="col-lg-12">
                        <span class="text-danger fw500">*{{ 'Plus'|trans }} {{ novaPrice|number_format(2, '.', '') }} {{ currency|trans }} {{ 'to Your order' }}</span>
                    </div>
                </div>
                <h3 class="billing-title mt-20 mb-10">{{ 'Payment type'|trans }}</h3>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.paymentType) }}
                    </div>
                </div>
                <h3 class="billing-title mt-20 mb-10">{{ 'Comment'|trans }}</h3>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_row(form.comment) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="order-wrapper">
                    <h3 class="billing-title mb-10">{{ 'Your order'|trans }}</h3>
                    <div class="order-list" id="js-order-list-holder">
                        <div class="list-row d-flex justify-content-between">
                            <div class="text-dark fw500">{{ 'Product'|trans }}</div>
                            <div class="text-dark fw500">{{ 'Total'|trans }}</div>
                        </div>
                        {% for cartItem in cart.cartProducts %}
                            {% set product = cartItem.relatedProduct %}
                            <div class="list-row d-flex justify-content-between">
                                <div class="col-8 text-dark fw500">{{ services.translator.trans(product, 'name') }}</div>
                                <div class="col-2 text-dark fw500">x {{ cartItem.quantity }}</div>
                                <div class="col-2 text-dark fw500">{{ cartItem.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</div>
                            </div>

                            {% for cartVariety in cartItem.varieties %}
                                <div class="list-row d-flex justify-content-between">
                                    <div class="col-2 text-dark fw500"></div>
                                    <div class="col-5 text-dark fw500">{{ services.translator.trans(cartVariety.relatedVariety, 'name') }}</div>
                                    <div class="col-5 text-dark fw500">{{ services.translator.trans(cartVariety.relatedValue, 'value') }}</div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="list-row d-flex justify-content-between">
                            <h6>{{ 'Total'|trans }}</h6>
                            <div class="text-dark fw500">{{ cart.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</div>
                        </div>
                        <div class="text-danger fw500" id="errorHolder"></div>
                        {{ form_row(form.save) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block js %}
    <script>
        const TEXT_COMMENT              = '{{ 'Comment'|trans }}';
        const KEY_DELIVERY_COMPANY_NOVA = '{{ constant('App\\Database\\Domain\\Entity\\Commerce\\Order\\Order::DELIVERY_NOVA_POSHTA') }}';
        const DELIVERY_TYPE_SELECTOR    = '#order_deliveryType';
        const WAREHOUSES_URL            = '{{ path('ajax_api_nova_poshta_warehouses') }}';
    </script>
    <script rel="script" src="{{ asset('assets/site/themes/default/includes/js/checkout.js') }}"></script>
{% endblock %}
