{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    {% set currency = services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::APP_CURRENCY')) %}
    {% set dateFormat = services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::DATE_DISPLAYING_FORMAT')) %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
                <div class="col-first">
                    <h1>{{ 'Your order was created!'|trans }}</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <p class="text-center fw500">{{ 'Thank you for your order. We will contact you soon for confirmation.'|trans }}</p>
        <div class="row mt-50">
            <div class="col-md-6">
                <h3 class="billing-title mt-20 pl-15">{{ 'Order details'|trans }}</h3>
                <table class="order-rable">
                    <tr>
                        <td class="fw500">{{ 'Order ID'|trans }}</td>
                        <td> {{ order.id }}</td>
                    </tr>
                    <tr>
                        <td class="fw500">{{ 'Date'|trans }}</td>
                        <td> {{ order.creationDate|date(dateFormat) }}</td>
                    </tr>
                    <tr>
                        <td class="fw500">{{ 'Total'|trans }}</td>
                        <td> {{ cart.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</td>
                    </tr>
                    <tr>
                        <td class="fw500">{{ 'Payment type'|trans }}</td>
                        <td> {{ order.paymentType|trans }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3 class="billing-title mt-20 pl-15">{{ 'Delivery type'|trans }}</h3>
                <table class="order-rable">
                    <tr>
                        <td class="fw500">{{ 'Delivery'|trans }}</td>
                        <td> {{ order.deliveryType|trans }}</td>
                    </tr>
                    <tr>
                        <td class="fw500">{{ 'City'|trans }}</td>
                        <td> {{ city }}</td>
                    </tr>
                    <tr>
                        <td class="fw500">{{ 'Address'|trans }}</td>
                        <td> {{ address }}</td>
                    </tr>
                    <tr>
                        <td class="fw500">{{ 'Delivery price'|trans }}</td>
                        <td> {{ cart.shipmentPrice|number_format(2, '.', '') }} {{ currency|trans }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container mb-120">
        <div class="billing-form">
            <div class="row">
                <div class="col-12">
                    <div class="order-wrapper">
                        <h3 class="billing-title mb-10">{{ 'Your order'|trans }}</h3>
                        <div class="order-list" id="js-order-list-holder">
                            <div class="list-row d-flex justify-content-between">
                                <div class="text-dark fw500 col-10">{{ 'Product'|trans }}</div>
                                <div class="text-dark fw500 col-2">{{ 'Total'|trans }}</div>
                            </div>
                            {% for cartItem in orderCart.cartProducts %}
                                {% set product = cartItem.relatedProduct %}
                                <div class="list-row d-flex justify-content-between">
                                    <div class="col-10 text-dark fw500">{{ services.translator.trans(product, 'name') }}</div>
                                    <div class="col-1 text-dark fw500">x {{ cartItem.quantity }}</div>
                                    <div class="col-1 text-dark fw500">{{ cartItem.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</div>
                                </div>
                                {% for cartVariety in cartItem.varieties %}
                                    <div class="list-row d-flex justify-content-between">
                                        <div class="col-2 text-dark fw500"></div>
                                        <div class="col-2 text-dark fw500">{{ services.translator.trans(cartVariety.relatedVariety, 'name') }}</div>
                                        <div class="col-5 text-dark fw500">{{ services.translator.trans(cartVariety.relatedValue, 'value') }}</div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <div class="list-row d-flex justify-content-between">
                                <h6>{{ 'Total'|trans }}</h6>
                                <div class="text-dark fw500">{{ orderCart.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</div>
                            </div>
                            <div class="list-row d-flex justify-content-between">
                                <h6>{{ 'Total with delivery'|trans }}</h6>
                                <div class="text-dark fw500">{{ orderCart.totalPriceWithShipment|number_format(2, '.', '') }} {{ currency|trans }}</div>
                            </div>
                            {% if cart.coupon %}
                            <div class="list-row d-flex justify-content-between">
                                <h6>{{ 'Total with coupon'|trans }}</h6>
                                <div class="text-dark fw500">{{ orderCart.totalPriceWithShipmentAndCoupon|number_format(2, '.', '') }} {{ currency|trans }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
