{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_product_sub_categories %}active{% endblock %}
{% block header_title %}{{ 'Categories'|trans }}{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <a href="{{ path('admin_product_sub_category_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add sub category'|trans }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="single-table">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center mt-5">
                                    <thead class="text-uppercase bg-primary">
                                    <tr>
                                        <th>{{ knp_pagination_sortable(categories, 'Name'|trans, 'sc.name') }}</th>
                                        <th>{{ 'Category'|trans }}</th>
                                        <th>{{ 'Products'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for subCategory in categories %}
                                        <tr class="tr-hover">
                                            <td>{{ subCategory.name }}</td>
                                            <td>{{ subCategory.productCategory ? subCategory.productCategory.name : 'Not related to any'|trans }}</td>
                                            <td>{{ subCategory.products|length }}</td>
                                            <td>
                                                <a href="{{ path('admin_product_sub_category_edit', {'id': subCategory.id}) }}"><i class="ti-pencil"></i></a>
                                                <a class="js-delete-modal" href="{{ path('admin_product_sub_category_remove', {'id': subCategory.id}) }}"><i class="ti-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': categories} %}{% endembed %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
