<script src="{{ asset('assets/angular/angular.min.js') }}"></script>
<script src="{{ asset('assets/angular/angular-cookies.min.js') }}"></script>
<script src="{{ asset('assets/angular/angular-loader.min.js') }}"></script>
<script src="{{ asset('assets/angular/angular-resource.min.js') }}"></script>
<script src="{{ asset('assets/angular/angular-route.min.js') }}"></script>
<script src="{{ asset('assets/angular/angular-sanitize.min.js') }}"></script>
{% block core %}{% endblock %}