<section id="comments" class="mt-60 mb-120" ng-init="init()" ng-app="app" ng-controller="siteCommentsCtrl">
    <div class="container">
        <div class="row justify-content-center mb-60">
            <h2>{{ 'What people say about us?'|trans }}</h2>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="total-comment" id="comment-container" {% if app.user %}data-id="{{ app.user.id }}"{% endif %}>
                    {% verbatim %}
                    <div ng-repeat="comment in comments">
                        <div class="single-comment" id="comment_item_{{ comment.id }}">
                            <div class="user-details d-flex align-items-between flex-wrap">
                                <div class="user-name">
                                    <h5>{{ comment.name }}</h5>
                                    <span>{{ comment.date }}</span>
                                </div>
                                <button data-toggle="collapse" data-target="#comment_{{ comment.id }}" href="#" class="btn btn-outline-info btn-sm color-2 ml-50"><i class="fa fa-reply" aria-hidden="true"></i><span class="ml-10 fw500">Reply</span></button>
                            </div>

                            <p class="user-comment">{{ comment.text }}</p>
                        </div>
                        <div class="single-comment reply-comment collapse mb-20" id="comment_{{ comment.id }}">
                    {% endverbatim %}
                    <div class="main-form">
                        <input {% verbatim %}id="comment_name_{{ comment.id }}"{% endverbatim %} type="text" placeholder="{{ 'Your name'|trans }}" class="common-input">
                        <textarea {% verbatim %}id="comment_text_{{ comment.id }}"{% endverbatim %} placeholder="{{ 'Comment'|trans }}" class="common-textarea"></textarea>
                        {% verbatim %}
                        <button data-id="{{ comment.id }}" ng-click="addReply($event)" class="view-btn color-2 btn-pull-right">
                        {% endverbatim %}
                            <span>{{ 'Add reply'|trans }}</span>
                        </button>
                    </div>
                </div>
                {% verbatim %}
                        <div ng-repeat="reply in comment.replies" class="single-comment reply-comment" id="comment_reply_{{ reply.id }}">
                            <div class="user-details d-flex align-items-center flex-wrap">
                                <div class="user-name order-3 order-sm-2">
                                    <h5>
                                    {{ reply.name }}
                                    <span ng-if="reply.isAdmin" class="text-success">(Admin)</span>
                                    </h5>
                                    <span>{{ reply.date }}</span>
                                </div>
                            </div>
                            <p class="user-comment">{{ reply.text }}</p>
                        </div>
                      </div>
                    </div>
                {% endverbatim %}
                <div class="row justify-content-center mb-60">
                    <button ng-click="moreComments()" class="view-btn color-2 w-215">
                        <span>{{ 'More comments'|trans }}</span></button>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="add-review">
                    <h3>{{ 'Add comment'|trans }}</h3>
                    <div class="main-form">
                        <input ng-model="newComment.name" type="text" placeholder="{{ 'Your name'|trans }}"
                               class="common-input">
                        <textarea ng-model="newComment.text" placeholder="{{ 'Comment'|trans }}"
                                  class="common-textarea"></textarea>
                        <button ng-click="addComment($event)" class="view-btn color-2 w-215">
                            <span>{{ 'Add comment'|trans }}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
