{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    <section class="banner-area mt-60" id="home">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <img class="img-fluid" src="{{ asset('assets/site/themes/default/img/header-img.png') }}" alt="">
                </div>
                <div class="banner-content mt-20 col-lg-6 col-md-12">
                    <h1 class="text-uppercase">{{ 'Internet-shop Itify'|trans }}</h1>
                    <button class="primary-btn text-uppercase mb-30"><a href="{{ path('site_catalog_index') }}">{{ 'Catalog'|trans }}</a></button>
                </div>
            </div>
        </div>
    </section>
    {% set currency = services.globals.get('currency') %}
    {% embed 'site/themes/default/modules/_categories.html.twig' %}{% endembed %}
    {% embed 'site/themes/default/modules/_product_row.html.twig' with {'content': newProducts, 'title': 'New products'} %}{% endembed %}
    {% embed 'site/themes/default/modules/_product_row.html.twig' with {'content': popularProducts, 'title': 'Popular products'} %}{% endembed %}
    {% embed 'site/themes/default/pages/main/_site_comments.html.twig' %}{% endembed %}
{% endblock %}

{% block js %}
    {% embed 'extension/angular/_angular.html.twig' %}
        {% block core %}
            <script>
                const URL_GET_COMMENTS     = '{{ path('ajax_site_comment_get') }}';
                const URL_ADD_COMMENT      = '{{ path('ajax_site_comment_add') }}';
                const URL_ADD_REPLY        = '{{ path('ajax_site_comment_add_reply') }}';

                const TEXT_NO_COMMENTS     = '{{ 'No more comments'|trans }}';
                const TEXT_NO_COMMENTS_YET = '{{ 'No comments yet'|trans }}';
            </script>
            <script src="{{ asset('assets/angular/core/app.js') }}"></script>
            <script src="{{ asset('assets/angular/components/site-comment.js') }}"></script>
            <script src="{{ asset('assets/angular/services/util.service.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}
