{% if app.request.query.all|length > 0 %}
<a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
        class="view-btn color-2 mt-15 mb-15">
    <span>{{ 'Clear filters'|trans }}</span>
</a>
{% endif %}
{% if specifications|length > 0 %}
<div class="common-filter">
    <div class="head pl-0">{{ 'Filters'|trans }}</div>
    {% for specification in specifications %}
        <label class="fw500 text-dark" for="{{ specification.id }}">{{ services.translator.trans(specification, 'name') }}</label>
        <select name="specifications[{{ specification.id }}]" class="form-control custom-select mb-20" id="{{ specification.id }}">
            <option value="">{{ 'Not set'|trans }}</option>
            {% for specificationValue in specification.values %}
                <option {% if productFilters.specificationValue(specification.id) == specificationValue.id %}selected{% endif %} value="{{ specificationValue.id }}">
                    {{ services.translator.trans(specificationValue, 'value') }}
                </option>
            {% endfor %}
        </select>
    {% endfor %}
</div>
{% endif %}
<div class="common-filter">
    <div class="head pl-0">{{ 'Price'|trans }}</div>
    <label class="fw500 text-dark" for="min_price">{{ 'Min price'|trans }}</label>
    <input class="mb-20 form-control" id="min_price" type="text" name="filters[min_price]" value="{{ productFilters.filter('min_price') }}">
    <label class="fw500 text-dark" for="max_price">{{ 'Max price'|trans }}</label>
    <input class="mb-20 form-control" id="max_price" type="text" name="filters[max_price]" value="{{ productFilters.filter('max_price') }}">
</div>
