{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    {% if category is defined or subCategory is defined %}
        <div class="container" style="margin-top: 150px">
            <div class="row justify-content-center">
                <div class="container" style="padding: 20px">
                    <div class="row justify-content-center">
                        {% if category is defined and subCategory is not defined %}
                            {{ services.translator.trans(category, 'name')|raw }}
                        {% endif %}

                        {% if subCategory is defined %}
                            {{ services.translator.trans(subCategory, 'name')|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container {% if category is not defined and subCategory is not defined %}mt-150{% endif %} mb-120">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">{{ 'Browse Categories'|trans }}</div>
                    <ul class="main-categories">
                        {% for category in categories %}
                             <li class="main-nav-list">
                                <a data-toggle="collapse" href="#{{ category.id }}" aria-expanded="false" aria-controls="{{ category.name }}">
                                    <span class="lnr lnr-arrow-right"></span>
                                    {{ services.translator.trans(category, 'name')|raw }}
                                    <span class="number">({{ category.visibleProductsLength }})</span>
                                </a>
                                <ul class="collapse" id="{{ category.id }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{ category.id }}">
                                    {% for subCategory in category.productSubCategories %}
                                    <li class="main-nav-list child">
                                        <a  onClick="event.stopPropagation();" href="{{ path('site_catalog_sub_category', {'categorySlug': category.slug, 'subCategorySlug': subCategory.slug}) }}">
                                            {{ services.translator.trans(subCategory, 'name')|raw }}
                                            <span class="number">({{ subCategory.visibleProductsLength }})</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    <li class="main-nav-list child">
                                        <a  onClick="event.stopPropagation();" href="{{ path('site_catalog_category', {'categorySlug': category.slug}) }}">
                                            {{ 'All products'|trans }}
                                            <span class="number">({{ category.visibleProductsLength }})</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}
                        <li class="main-nav-list">
                            <a href="{{ path('site_catalog_index') }}">{{ 'All products'|trans }}</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-filter mt-50">
                    <form method="GET">
                        <button onclick="return false;" data-toggle="collapse" data-target="#filtersDiv"
                                class="view-btn color-2 mt-15 mb-15">
                            <span>{{ 'Filters'|trans }}</span>
                        </button>
                        <div class="collapse" id="filtersDiv">
                            {% embed 'site/themes/default/pages/commerce/catalog/_filters.html.twig' %}{% endembed %}
                            <button type="submit" class="view-btn color-2 mt-15 mb-15">
                                <span>{{ 'Apply'|trans }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div style="display:none;">
                        {{ knp_pagination_sortable(products, 'sort-price'|trans, 'p.price') }}
                        {{ knp_pagination_sortable(products, 'sort-creation-date'|trans, 'p.creationDate') }}
                    </div>
                    <div class="sorting">
                            <select data-type="nice-select">
                                {% if app.request.get('sort') == 'p.price' %}
                                    <option value="sort-price">{{ 'price'|trans }}</option>
                                    <option value="sort-creation-date">{{ 'creation_date'|trans }}</option>
                                {% else %}
                                    <option value="sort-creation-date">{{ 'creation_date'|trans }}</option>
                                    <option value="sort-price">{{ 'price'|trans }}</option>
                                {% endif %}
                            </select>
                    </div>
                    <div class="sorting mr-auto">
                            <select data-type="nice-select">
                                {% if app.request.get('direction') == 'desc' %}
                                    <option value="sort-filter-desc">{{ 'desc'|trans }}</option>
                                    <option value="sort-filter-asc">{{ 'asc'|trans }}</option>
                                {% else %}
                                    <option value="sort-filter-asc">{{ 'asc'|trans }}</option>
                                    <option value="sort-filter-desc">{{ 'desc'|trans }}</option>
                                {% endif %}
                            </select>
                    </div>
                    {% embed 'site/themes/default/pagination/_pagination.html.twig' with {'content': products} %}{% endembed %}
                </div>
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row justify-content-start">
                        {% set currency = services.globals.get('currency') %}
                        {% for product in products %}
                            {% embed 'site/themes/default/modules/_product.html.twig' %}{% endembed %}
                        {% endfor %}
                        {% if products|length == 0 %}
                            <div class="container mt-30">
                                <h3>{{ 'No products found'|trans }}</h3>
                            </div>
                        {% endif %}
                    </div>
                    <div class="filter-bar d-flex flex-wrap align-items-center" style="margin-top: 15px">
                        {% embed 'site/themes/default/pagination/_pagination.html.twig' with {'content': products} %}{% endembed %}
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        const URL_ADD_PRODUCT    = '{{ path('ajax_cart_add_product') }}';
        const REDIRECT_URL_INDEX = '{{ path('site_cart_index') }}';
        const TEXT_IN_CART       = '{{ 'In cart'|trans }}';
    </script>
    <script type="application/javascript" src="{{ asset('assets/site/themes/default/js/jquery.nice-select.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/site/themes/default/includes/js/catalog.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/themes/default/css/nice-select.css') }}">
{% endblock %}
