{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    <div class="container mt-220">
        <h3>{{ 'Cart'|trans }}</h3>
    </div>
    <div class="container mt-50 mb-120" style="min-height: 500px">
        <div class="cart-title">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="ml-15">{{ 'Product'|trans }}</h6>
                </div>
                <div class="col-md-2">
                    <h6>{{ 'Price'|trans }}</h6>
                </div>
                <div class="col-md-2">
                    <h6>{{ 'Quantity'|trans }}</h6>
                </div>
                <div class="col-md-2">
                    <h6>{{ 'Variety'|trans }}</h6>
                </div>
                <div class="col-md-2">
                    <h6>{{ 'Sum'|trans }}</h6>
                </div>
            </div>
        </div>
        {% set currency = services.globals.get('currency') %}
        {% for cartProduct in cart.cartProducts %}
            {% set product = cartProduct.relatedProduct %}
            <div class="cart-single-item">
                <div class="row align-items-center">
                    <div class="col-md-4 col-sm-12 col-12 mt-20">
                        <div class="product-item d-flex align-items-center">
                            <img width="128px" height="128px" src="{{ asset(services.media.product.pic(product)) }}" class="img-fluid"
                                 alt="{{ services.translator.trans(product, 'name') }}">
                            <h6>{{ services.translator.trans(product, 'name') }}</h6>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mt-20">
                        <div class="price">{{ product.realPrice|number_format(2, '.', '') }} {{ currency|trans }}</div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mt-20">
                        <div class="quantity-container d-flex align-items-center mt-15">
                            <input data-price="{{ product.realPrice }}" data-id="{{ product.id }}" type="text"
                                   class="quantity-amount" value="{{ cartProduct.quantity }}"/>
                            <div class="arrow-btn d-inline-flex flex-column">
                                <button data-id="{{ product.id }}" class="increase arrow" type="button"
                                        title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
                                <button data-id="{{ product.id }}" class="decrease arrow" type="button"
                                        title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-12 mt-20">
                        <ul class="js-varieties-ul" data-id="{{ product.id }}">
                            {% for productVariety in product.varieties %}
                                <li class="col-lg-12 mt-10">
                                    <h6>{{ services.translator.trans(productVariety.variety, 'name') }}</h6>
                                    <div class="mt-10">
                                        <select class="js-variety form-control custom-select"
                                                data-id="{{ productVariety.variety.id }}">
                                            {% for productVarietyValue in productVariety.values %}
                                                {% if productVarietyValue.availability == constant('App\\Database\\Domain\\Model\\EntityState\\Availability::AVAILABLE') %}
                                                    <option
                                                            {% for cartVariety in cartProduct.varieties %}
                                                                {% if productVarietyValue.attachedValue.id == cartVariety.relatedValue.id %} selected {% endif %}
                                                            {% endfor %}
                                                            value="{{ productVarietyValue.attachedValue.id }}">{{ services.translator.trans(productVarietyValue.attachedValue, 'value') }}
                                                    </option>
                                                {% else %}
                                                    <option value="{{ productVarietyValue.attachedValue.id }}"
                                                            disabled>{{ services.translator.trans(productVarietyValue.attachedValue, 'value') }}
                                                        ({{ productVarietyValue.availability|trans }})
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-12 col-12 mt-20">
                        <div data-id="{{ product.id }}" class="total js-total-price"
                             id="js-total-{{ product.id }}">{{ cartProduct.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</div>
                    </div>
                    <div class="col-md-2 col-sm-12 col-12 mt-20">
                        <div class="total">
                            <a href="{{ path('site_cart_remove_product', {'id': product.id}) }}"
                               class="view-btn color-2 mt-10"><span>{{ 'Remove'|trans }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="subtotal-area d-flex align-items-center justify-content-end">
            <div class="title text-uppercase">{{ 'Total'|trans }}</div>
            <div class="subtotal"
                 id="subTotal">{{ cart.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</div>
        </div>
        <div id="errHolder" style="display: none" class="alert alert-danger">

        </div>
        <div class="row justify-content-end" style="margin-bottom: 50px">
            <button class="view-btn color-2 mt-10" id="finish"><span>{{ 'Checkout'|trans }}</span></button>
        </div>
    </div>

    <script>
        const REFILL_CART_URL       = '{{ path('ajax_cart_refill') }}';
        const CURRENCY              = '{{ currency|trans }}';
        const TEXT_NO_ITEMS_IN_CART = '{{ 'You did not add any items to cart'|trans }}';
        const ORDER_URL             = '{{ path('site_order_index') }}';
    </script>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/site/themes/default/js/numeral.min.js') }}"></script>
    <script src="{{ asset('assets/site/themes/default/includes/js/cart.js') }}"></script>
{% endblock %}
