{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(page.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(page.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(page.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(page.meta, 'metaKeywords') }}{% endblock %}

{% block content %}
    <section class="mt-220" style="min-height: 500px">
        <div class="container">
            {{ page.content|raw }}
        </div>
    </section>
{% endblock %}
