{% extends 'admin/admin_layout.html.twig' %}

{% block nav_orders %}active{% endblock %}
{% block nav_order %}active{% endblock %}
{% block header_title %}{{ 'Edit order'|trans }}{% endblock %}

{% block content %}
    {% set currency = services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::APP_CURRENCY')) %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-12 mb-10">
                            {{ form_row(form.status) }}
                        </div>
                        <div class="col-lg-12 mb-10">
                            {{ form_row(form.paymentStatus) }}
                        </div>
                        <div class="col-lg-12 mb-10">
                            {{ form_row(form.couriers) }}
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <h3 class="billing-title mt-20 mb-10">{{ 'Personal info'|trans }}</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.surname) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.phone) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                            <h3 class="billing-title mt-20 mb-10">{{ 'Delivery type'|trans }}</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.deliveryType) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.city) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.address) }}
                                </div>
                            </div>
                            {% if order.isDeliveryNovaPoshta %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(form.novaCity) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(form.novaWarehouse) }}
                                    </div>
                                </div>
                            {% endif %}
                            <h3 class="billing-title mt-20 mb-10">{{ 'Payment type'|trans }}</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.paymentType) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.comment) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-12 mt-2">
        <div class="card">
            <div class="card-body">
                <div class="invoice-area">
                    <div class="invoice-head">
                        <div class="row">
                            <div class="iv-left col-6">
                                <span>{{ 'INVOICE'|trans }}</span>
                            </div>
                            <div class="iv-right col-6 text-md-right">
                                <span>#{{ order.id }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="invoice-address">
                                <h3>{{ 'Invoiced to'|trans }}</h3>
                                <h5>{{ order.name ~ ' ' ~ order.surname }}</h5>
                            </div>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <ul class="invoice-date">
                                <li>{{ 'Invoice Date'|trans }} : {{ order.creationDate|date('F d | m | Y') }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="invoice-table table-responsive mt-5">
                        <table class="table table-bordered table-hover text-right">
                            <thead>
                            <tr class="text-capitalize">
                                <th class="text-dark">{{ 'Product'|trans }}</th>
                                <th class="text-left"></th>
                                <th></th>
                                <th class="text-dark">{{ 'Quantity'|trans }}</th>
                                <th class="text-dark">{{ 'Total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cartItem in cart.cartProducts %}
                                {% set product = cartItem.relatedProduct %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>x {{ cartItem.quantity }}</td>
                                    <td>{{ cartItem.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</td>
                                </tr>
                                {% for variety in cartItem.varieties %}
                                    <tr>
                                        <td></td>
                                        <td>{{ variety.relatedVariety.name }}</td>
                                        <td>{{ variety.relatedValue.value }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4">{{ 'Total'|trans }} :</td>
                                <td>{{ cart.totalPrice|number_format(2, '.', '') }} {{ currency|trans }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">{{ 'Total with delivery'|trans }} :</td>
                                <td>{{ cart.totalPriceWithShipment|number_format(2, '.', '') }} {{ currency|trans }}</td>
                            </tr>
                            {% if cart.coupon %}
                                <tr>
                                    <td colspan="4">{{ 'Total with coupon'|trans }} :</td>
                                    <td>{{ cart.totalPriceWithShipmentAndCoupon|number_format(2, '.', '') }} {{ currency|trans }}</td>
                                </tr>
                            {% endif %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const WAREHOUSES_URL = '{{ path('ajax_api_nova_poshta_warehouses') }}';
        const TEXT_COMMENT   = '{{ 'Comment'|trans }}';

        $('select').addClass('custom-select');
        let prevText = $('#admin_order_edit_comment').val();
        $('#admin_order_edit_comment').replaceWith(`<textarea name="admin_order_edit[comment]" class="form-control" placeholder="${TEXT_COMMENT}">${prevText}</textarea>`);

        {% if order.isDeliveryCourier %}
        $('#js-nova-city').hide();
        $('#js-nova-warehouse').hide();
        $('#js-nova-price').hide();
        {% else %}
        $('#js-city').hide();
        $('#js-address').hide();
        {% endif %}

        $('#admin_order_edit_deliveryType').on('change', function () {
            if ($(this).val() === '{{ constant('App\\Database\\Domain\\Entity\\Commerce\\Order\\Order::DELIVERY_NOVA_POSHTA') }}') {
                $('#js-nova-city').show();
                $('#js-nova-warehouse').show();
                $('#js-city').hide();
                $('#js-address').hide();
            } else {
                $('#js-nova-city').hide();
                $('#js-nova-warehouse').hide();
                $('#js-city').show();
                $('#js-address').show();
            }
        });


        $('#admin_order_edit_novaCity').on('change', function () {
            $.ajax({
                url: WAREHOUSES_URL,
                method: 'GET',
                data: {ref: $('#admin_order_edit_novaCity').val()},
                success: function (res) {
                    $('#admin_order_edit_novaWarehouse').html('');
                    res.forEach(item => {
                        $('#admin_order_edit_novaWarehouse').append(`<option value="${item.Ref}">${item.Description}</option>`);
                    })
                }
            })
        });
    </script>
{% endblock %}