{% extends 'admin/admin_layout.html.twig' %}

{% block nav_order %}active{% endblock %}
{% block nav_orders %}active{% endblock %}
{% block header_title %}{{ 'Orders'|trans }}{% endblock %}

{% block content %}
    {% set dateFormat = services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::DATE_DISPLAYING_FORMAT')) %}

    {% embed 'admin/modules/_filters.html.twig' %}
        {% block clearFilters %}{{ path('admin_order_index') }}{% endblock %}

        {% block extraFilters %}
            <div class="row mt-3">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 mt-1" >
                    <label for="source">{{ 'Order status'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="source" name="filters[status]" class="form-control">
                        <option value="">{{ 'Not set'|trans }}</option>
                        {% for status in possibleStatuses %}
                            <option {% if queryParams.hasFilter('status') and queryParams.filter('status') == status %}selected{% endif %} value="{{ status }}">{{ status|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-1 mt-1">
                    <label for="level">{{ 'Payment status'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="level" name="filters[payment_status]" class="form-control">
                        <option value="">{{ 'Not set'|trans }}</option>
                        {% for payment_status in possiblePaymentStatuses %}
                            <option {% if queryParams.hasFilter('payment_status') and queryParams.filter('payment_status') == payment_status %}selected{% endif %} value="{{ payment_status }}">{{ payment_status|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 mt-1" >
                    <label for="search">{{ 'Search'|trans }}</label>
                </div>
                <div class="col-lg-9">
                    <input value="{% if queryParams.hasFilter('query') %}{{ queryParams.filter('query') }}{% endif %}" class="form-control" type="text" name="filters[query]" id="search">
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(orders, 'ID'|trans, 'o.id') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'User'|trans, 'o.id') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Name'|trans, 'o.name') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Phone'|trans, 'o.phone') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Order status'|trans, 'o.status') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Payment status'|trans, 'o.paymentStatus') }}</th>
                                            <th>{{ knp_pagination_sortable(orders, 'Creation date'|trans, 'o.creationDate') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orders %}
                                            <tr class="tr-hover">
                                                <td>{{ order.id }}</td>
                                                <td>{{ 'None' }}</td>
                                                <td>{{ order.name }}</td>
                                                <td>{{ order.phone }}</td>
                                                <td><span class="status-p {{ services.styles.order.orderStatus(order) }}">{{ order.status|trans }}</span></td>
                                                <td>{{ order.paymentStatus|trans }}</td>
                                                <td>{{ order.creationDate|date(dateFormat) }}</td>
                                                <td>
                                                    <a href="{{ path('admin_order_edit', {'id': order.id}) }}"><i class="ti-eye"></i></a>
                                                    <a class="js-delete-modal" href="{{ path('admin_order_remove', {'id': order.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': orders} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('#start_date').datepicker({
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });

        $('#end_date').datepicker({
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
    </script>
{% endblock %}
