<?xml version="1.0"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
    {% set currency = services.globals.get('currency') %}
    <channel>
        <g:title>{{ 'Internet-shop'|trans }} {{ services.params.host }}</g:title>
        <g:link>{{ services.params.host }}</g:link>
        <g:description>RSS 2.0 product data feed</g:description>
        {% for product in products %}
            <g:item>
                <g:id>{{ product.vendorCode }}</g:id>
                <g:title>{{ services.translator.trans(product, 'name') }}</g:title>
                <g:description>{{ services.text.formatHtmlInput(services.translator.trans(product, 'description')) }}</g:description>
                <g:link>{{ services.params.host ~ path('site_product_index', {'product': product.slug}) }}</g:link>
                {% if product.media.images|length > 0 %}
                    {% if product.media.images[0].isLocal %}
                        <g:image_link>{{ services.params.host ~ asset(product.media.images[0].assetPath) }}</g:image_link>
                    {% else %}
                        <g:image_link>{{ product.media.images[0].url }}</g:image_link>
                    {% endif %}
                {% endif %}
                <g:availability>{{ services.converter.product.availabilityToGoogleXml(product) }}</g:availability>
                <g:price>{{ product.price }} {{ currency }}</g:price>
                <g:condition>{{ 'Factory new' }}</g:condition>
                {% for image in product.media.images %}
                    {% if image.isLocal %}
                        <g:image_link>{{ services.params.host ~ asset(image.assetPath) }}</g:image_link>
                    {% else %}
                        <g:image_link>{{ image.url }}</g:image_link>
                    {% endif %}
                {% endfor %}
                {% if product.promo.isSaleStatus %}
                    <g:sale_price>{{ product.promo.salePrice }}</g:sale_price>
                {% endif %}
                <g:product_type>{% if product.productCategory %}{{ services.translator.trans(product.productCategory, 'name') }}{% endif %}{% if product.productSubCategory %}{{ '-' ~ services.translator.trans(product.productSubCategory, 'name') }}{% endif %}</g:product_type>
            </g:item>
        {% endfor %}
    </channel>
</rss>
