{% extends 'admin/admin_layout.html.twig' %}

{% block nav_site %}active{% endblock %}
{% block nav_site_menu %}active{% endblock %}
{% block nav_site_menu_menus %}active{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-3">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th>{{ 'Elements'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set menuCounter = 1 %}
                                        {% for menu in menus %}
                                            <tr class="tr-hover">
                                                <td>{{ menu.type|trans }}</td>
                                                <td>
                                                    {% if menu.elements|length > 0 %}
                                                        <button class="btn btn-flat btn-primary" data-toggle="collapse"
                                                                data-target=".elements_{{ menuCounter }}" aria-expanded="false">
                                                            <span>{{ 'Elements'|trans }}</span>
                                                        </button>
                                                    {% endif %}
                                                    <a href="{{ path('admin_site_menu_elements_create_link', {'id': menu.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add link'|trans }}</a>
                                                    <a href="{{ path('admin_site_menu_elements_create_link_collection', {'id': menu.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add link collection'|trans }}</a>
                                                </td>
                                                <td></td>
                                            </tr>

                                            {% for element in menu.elements %}
                                                <tr class="tr-hover collapse elements_{{ menuCounter }}">
                                                    <td>{{ element.isLinkCollection ? element.linkCollectionName : element.link.name }}</td>
                                                    <td>{{ element.type|trans }}</td>
                                                    <td>
                                                        {% if element.isLink %}
                                                        <a href="{{ path('admin_site_menu_elements_edit_link', {'id': element.id}) }}"><i class="ti-pencil"></i></a>
                                                        {% endif %}

                                                        {% if element.isLinkCollection %}
                                                        <a href="{{ path('admin_site_menu_elements_edit_link_collection', {'id': element.id}) }}"><i class="ti-pencil"></i></a>
                                                        {% endif %}

                                                        <a class="js-delete-modal" href="{{ path('admin_site_menu_elements_remove', {'id': element.id}) }}"><i class="ti-trash"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% set menuCounter = menuCounter + 1 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
