{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ services.translator.trans(product.meta, 'pageTitle') }}{% endblock %}
{% block metaDescription %}{{ services.translator.trans(product.meta, 'metaDesc') }}{% endblock %}
{% block metaTitle %}{{ services.translator.trans(product.meta, 'metaTitle') }}{% endblock %}
{% block metaKeywords %}{{ services.translator.trans(product.meta, 'metaKeywords') }}{% endblock %}

{% block microMarking %}
    {% set currency = services.globals.get('currency') %}

    <div style="display: none" itemscope="" itemtype="http://schema.org/Product">
        <div itemprop="name">{{ services.translator.trans(product, 'name') }}</div>
        <img src="{{ asset(services.media.product.pic(product)) }}" title="{{ services.translator.trans(product, 'name') }}">
        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <div itemprop="price">{{ product.realPrice }}</div>
            <div itemprop="priceCurrency" content="{{ currency }}">{{ currency }}</div>
            <div itemprop="description" content="{{ services.text.formatHtmlInput(services.translator.trans(product, 'description'), 500) }}">
                {{ services.text.formatHtmlInput(services.translator.trans(product, 'description'), 500) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set currency = services.globals.get('currency') %}

    <div class="container-fluid mt-120 mb-50">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="card">
                    <div class="card-body mb-15">
                        <div class="product-quick-view">
                            <div class="row align-items-center">
                                <div class="col-lg-6 bg-light">
                                    <div class="slider-for">
                                        {% for image in product.media.images %}
                                            <div class="container">
                                                <div class="row">
                                                    <div class="card">
                                                        <div class="col-lg-12">
                                                            <img style="" src="{{ asset(services.media.product.pic(image)) }}"
                                                                 class="img-fluid">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="prodDesc" class="col-lg-6">
                                    <div class="quick-view-content">
                                        <div class="top">
                                            <h3 class="head">{{ services.translator.trans(product, 'name') }}</h3>
                                            <div class="d-flex align-items-center">
                                                {% if not product.promo.saleStatus %}
                                                    <span class="lnr lnr-tag"></span>
                                                {% endif %}
                                                <h4 class="ml-10 {{ product.promo.saleStatus ? 'crossed' : '' }}">{{ product.price|number_format(2, '.', '') }} {{ currency|trans }}</h4>
                                            </div>
                                            {% if product.promo.saleStatus %}
                                                <div class="price d-flex align-items-center">
                                                    <span class="lnr lnr-tag text-success"></span>
                                                    <span class="ml-10">
                                                        {{ product.promo.salePrice|number_format(2, '.', '') }} {{ currency|trans }}
                                                    </span>
                                                </div>
                                            {% endif %}
                                            {% if product.promo.isSpecialStatus %}
                                                <div class="available">
                                                    <h2>
                                                        <span class="fw500 badge {{ services.styles.product.specialStatus(product) }}">
                                                            {{ product.promo.getSpecialStatus|trans }}
                                                        </span>
                                                    </h2>
                                                </div>
                                            {% endif %}
                                            {% if product.vendorCode %}
                                                <div class="available">
                                                    {{ 'Vendor code'|trans }}: <span
                                                            class="fw500 text-dark">{{ product.vendorCode }}</span>
                                                </div>
                                            {% endif %}
                                            <div class="category mt-10">{{ 'Category'|trans }}:
                                                <span class="fw500">
                                                    {{ product.productCategory ? services.translator.trans(product.productCategory, 'name') : 'Not related to any'|trans }}
                                                </span>
                                            </div>
                                            <div class="available mt-10">{{ 'Availability'|trans }}:
                                                <span class="fw500 {{ services.styles.product.availability(product) }}">
                                                    {{ product.availability|trans }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <div class="row justify-content-center">
                                                {% for productVariety in product.varieties %}
                                                    <div class="col-lg-12 mt-10">
                                                        <h5>{{ services.translator.trans(productVariety.variety, 'name') }}</h5>
                                                        <div class="mt-10">
                                                            <select class="js-variety form-control custom-select" data-id="{{ productVariety.variety.id }}">
                                                                {% for productVarietyValue in productVariety.values %}
                                                                    {% if productVarietyValue.availability == constant('App\\Database\\Domain\\Model\\EntityState\\Availability::AVAILABLE') %}
                                                                        <option value="{{ productVarietyValue.attachedValue.id }}">{{ services.translator.trans(productVarietyValue.attachedValue, 'value') }}</option>
                                                                    {% else %}
                                                                        <option value="{{ productVarietyValue.attachedValue.id }}" disabled>{{ services.translator.trans(productVarietyValue.attachedValue, 'value') }} ({{ productVarietyValue.availability|trans }})</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 text-center">
                                                {% set iterated = 0 %}
                                                {% for cartItem in cart.cartProducts %}
                                                    {% if cartItem.relatedProduct.id == product.id %}
                                                        <button class="view-btn color-2 js-product-btn" onclick="toCart()">
                                                            <span>{{ 'In cart'|trans }}</span>
                                                            <span class="lnr lnr-checkmark-circle"></span>
                                                        </button>
                                                        {% set iterated = 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if not iterated %}
                                                    <button id="addToCart" data-id="{{ product.id }}" class="view-btn color-2 js-product-btn js-add-to-cart">
                                                        <span data-id="{{ product.id }}" >{{ 'Buy'|trans }}</span>
                                                        <span data-id="{{ product.id }}" class="lnr lnr-cart ml-10"></span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="img-nav" class="col-lg-6 mt-20">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 slider-nav">
                                            {% for image in product.media.images %}
                                                <div>
                                                    <img width="256px" height="256px" src="{{ asset(services.media.product.pic(image)) }}"
                                                         class="img-fluid">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="details-tab-navigation d-flex justify-content-center mt-30">
                                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                                        <li>
                                            <a class="nav-link fw500 active"
                                               data-toggle="tab"
                                               href="#tab-desc" role="tab"
                                               aria-controls="tab-desc">{{ 'Product description'|trans }}</a>
                                        </li>
                                        <li>
                                            <a class="nav-link fw500" id="specification-tab" data-toggle="tab"
                                               href="#specification" role="tab"
                                               aria-controls="specification">{{ 'Specifications'|trans }}</a>
                                        </li>
                                        <li>
                                            <a class="nav-link fw500"
                                               data-toggle="tab" href="#comments"
                                               role="tab"
                                               aria-controls="comments">{{ 'Comments'|trans }}
                                                <span id="comments-length"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show custom-content" id="tab-desc"
                                 role="tabpanel"
                                 aria-labelledby="tab-desc">
                                <h4 class="fw500 mt-20">{{ services.translator.trans(product, 'description')|raw }}</h4>
                            </div>
                            <div class="tab-pane fade" id="specification" role="tabpanel"
                                 aria-labelledby="specification">
                                <div class="specification-table">
                                    {% for productSpecification in product.specifications %}
                                        <div class="single-row">
                                            <h4>{{ services.translator.trans(productSpecification.specification, 'name') }}</h4>
                                            <span class="fw500 text-dark">
                                                {% for value in productSpecification.values() %}
                                                    {{ services.translator.trans(value, 'value') }}
                                                {% endfor %}
                                            </span>
                                        </div>
                                    {% endfor %}
                                    {% if product.specifications|length < 1 %}
                                        <div class="jumbotron mt-15">
                                            <div class="display-4 text-center">
                                                {{ 'This product does not have any specifications'|trans }} :(
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="comments"
                                 role="tabpanel" aria-labelledby="comments">
                                <div class="review-wrapper">
                                    {% embed 'site/themes/default/pages/commerce/product/_comments.html.twig' %}{% endembed %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% embed 'site/themes/default/modules/_product_row.html.twig' with {'content': watchedProducts, 'title': 'Watched products'} %}{% endembed %}
    {% embed 'site/themes/default/modules/_product_row.html.twig' with {'content': popularProducts, 'title': 'Popular products'} %}{% endembed %}
    {% embed 'site/themes/default/modules/_product_row.html.twig' with {'content': newProducts, 'title': 'New products'} %}{% endembed %}
{% endblock %}

{% block js %}
    <script>
        const URL_ADD_PRODUCT   = '{{ path('ajax_cart_add_product') }}';
        const REDIRECT_URL_CART = '{{ path('site_cart_index') }}';
        const TEXT_IN_CART      = '{{ 'In cart'|trans }}';
    </script>
    <script type="text/javascript" src="{{ asset('assets/site/js/slick/slick.min.js') }}"></script>
    <script rel="script" src="{{ asset('assets/site/themes/default/includes/js/single.js') }}"></script>
    <script rel="script" src="{{ asset('assets/site/themes/default/js/jquery.magnific-popup.min.js') }}"></script>
    <script rel="script" src="{{ asset('assets/site/themes/default/includes/js/custom-styles.js') }}"></script>

    {% embed 'extension/angular/_angular.html.twig' %}
        {% block core %}
            <script>
                const URL_GET_COMMENTS     = '{{ path('ajax_product_comment_get') }}';
                const URL_ADD_COMMENT      = '{{ path('ajax_product_comment_add') }}';
                const URL_ADD_REPLY        = '{{ path('ajax_product_comment_add_reply') }}';

                const TEXT_NO_COMMENTS     = '{{ 'No more comments'|trans }}';
                const TEXT_NO_COMMENTS_YET = '{{ 'No comments yet'|trans }}';

                const PRODUCT              = '{{ product.id }}';
            </script>
            <script src="{{ asset('assets/angular/core/app.js') }}"></script>
            <script src="{{ asset('assets/angular/components/product-comment.js') }}"></script>
            <script src="{{ asset('assets/angular/services/util.service.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/css/slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/css/slick/slick-theme.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/themes/default/css/magnific-popup.css') }}"/>
    <style>
        .slick-prev:before, .slick-next:before {
            color: #3666fc !important;
        }
    </style>
{% endblock %}
