<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
    const selector = '#{{ selector }}';
    tinymce.init({
        selector: selector,
        language_url: '{{ asset('assets/admin/js/tinymce/locales/' ~ app.request.locale ~ '.js') }}',
        theme: 'modern',
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        valid_elements: '+*[*]',
        width: '100%',
        inline_styles: true,
        keep_styles: true,
        extended_valid_elements: '+*[*]',
        custom_elements: '*',
        invalid_elements: '',
        image_advtab: true,
        verify_html: false,
        content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
        ],
        {% if images_upload_url is defined %}
        images_upload_url: '{{ images_upload_url }}'
        {% endif %}
    });
</script>
<script style="{{ asset('assets/admin/js/tinymce/tinymce.js') }}"></script>
