{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_product_variety %}active{% endblock %}
{% block header_title %}<a href="{{ path('admin_specification_edit', {'id': value.specification.id}) }}">{{ 'Back to specification'|trans }}</a>{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_specification_values_create_translation', {'id': value.specification.id, 'valueId': value.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Value'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for translation in value.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ translation.locale|upper }}</td>
                                                <td>{{ translation.value }}</td>
                                                <td>
                                                    <a href="{{ path('admin_specification_values_edit_translation', {'id': value.specification.id, 'valueId': value.id, 'transId': translation.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_specification_values_remove_translation', {'id': value.specification.id, 'valueId': value.id, 'transId': translation.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
