{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product_specifications %}active{% endblock %}
{% block nav_product %}active{% endblock %}
{% block header_title %}{{ 'Specifications'|trans }}{% endblock %}

{% block content %}
    {% embed 'admin/modules/_filters.html.twig' %}
        {% block creationDate %}{% endblock %}
        {% block clearFilters %}{{ path('admin_specification_index') }}{% endblock %}

        {% block extraFilters %}
            <div class="row mt-3">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 mt-1" >
                    <label for="category">{{ 'Category'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="category" name="filters[category]" class="form-control">
                        <option value=""></option>
                        {% for category in possibleCategories %}
                            <option {% if queryParams.hasFilter('category') and queryParams.filter('category') == category.id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-1 mt-1">
                    <label for="subCategory">{{ 'Sub category'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="subCategory" name="filters[subCategory]" class="form-control">
                        <option value=""></option>
                        {% for category in possibleSubCategories %}
                            <option {% if queryParams.hasFilter('subCategory') and queryParams.filter('subCategory') == category.id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_specification_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add specification'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-5">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(specifications, 'Name'|trans, 's.name') }}</th>
                                            <th>{{ 'Specification values'|trans }}</th>
                                            <th>{{ knp_pagination_sortable(specifications, 'Category'|trans, 'c.name') }}</th>
                                            <th>{{ knp_pagination_sortable(specifications, 'Sub category'|trans, 'sc.name') }}</th>
                                            <th>{{ knp_pagination_sortable(specifications, 'Is visible'|trans, 's.isEnabled') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set specificationCounter = 1 %}
                                        {% for specification in specifications %}
                                            <tr class="tr-hover">
                                                <td>{{ specification.name }}</td>
                                                <td>
                                                    {% if specification.values|length > 0 %}
                                                        <button class="btn btn-flat btn-primary" data-toggle="collapse"
                                                                data-target=".values_{{ specificationCounter }}" aria-expanded="false">
                                                            <span>{{ 'Specification values'|trans }}</span>
                                                        </button>
                                                    {% endif %}
                                                    <a href="{{ path('admin_specification_values_create', {'id': specification.id}) }}" class="btn btn-flat btn-success">{{ 'Add value'|trans }}</a>
                                                </td>
                                                <td>{{ specification.productCategory ? specification.productCategory.name : 'Not related to any'|trans }}</td>
                                                <td>{{ specification.productSubCategory ? specification.productSubCategory.name : 'Not related to any'|trans }}</td>
                                                <td>{{ specification.isEnabled ? 'Yes' : 'No'|trans }}</td>
                                                <td>
                                                    <a href="{{ path('admin_specification_edit', {'id': specification.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_specification_remove', {'id': specification.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>

                                            {% for specificationValue in specification.values %}
                                                <tr class="tr-hover collapse values_{{ specificationCounter }}">
                                                    <td>{{ specificationValue.value }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <a href="{{ path('admin_specification_values_edit', {'id': specification.id, 'valueId': specificationValue.id}) }}"><i class="ti-pencil"></i></a>
                                                        <a class="js-delete-modal" href="{{ path('admin_specification_values_remove', {'id': specification.id, 'valueId': specificationValue.id}) }}"><i class="ti-trash"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% set specificationCounter = specificationCounter + 1 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': specifications} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
