{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_product_categories %}active{% endblock %}
{% block header_title %}{{ 'Create category'|trans }}{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
