{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_product_categories %}active{% endblock %}
{% block header_title %}{{ 'Edit category'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_category_create_translation', {'id': category.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for translation in category.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ translation.locale|upper }}</td>
                                                <td>{{ translation.name }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_category_edit_translation', {'id': category.id, 'transId': translation.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_product_category_remove_translation', {'id': category.id, 'transId': translation.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Meta data translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_category_create_meta_translation', {'id': category.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Page title'|trans }}</th>
                                            <th>{{ 'Meta title'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for meta in category.meta.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ meta.locale|upper }}</td>
                                                <td>{{ meta.pageTitle }}</td>
                                                <td>{{ meta.metaTitle }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_category_edit_meta_translation', {'id': category.id, 'transId': meta.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_product_category_remove_meta_translation', {'id': category.id, 'transId': meta.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% embed 'extension/tinymce/_tinymce.html.twig' with {'selector': 'product_category_description'} %}{% endembed %}
{% endblock %}
