{% extends 'admin/admin_layout.html.twig' %}

{% block nav_delivery %}active{% endblock %}
{% block nav_couriers %}active{% endblock %}
{% block header_title %}{{ 'Couriers'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_courier_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add courier'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-5">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ knp_pagination_sortable(couriers, 'Name'|trans, 'c.name') }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for courier in couriers %}
                                            <tr class="tr-hover">
                                                <td>{{ courier.name }}</td>
                                                <td>
                                                    <a href="{{ path('admin_courier_edit', {'id': courier.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a  class="js-delete-modal" href="{{ path('admin_courier_remove', {'id': courier.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': couriers} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
