{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}{{ 'Add product variety'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" ng-init="init()" ng-app="app" ng-controller="createProductVarietyCtrl">
                    <div class="alert alert-danger" id="error" style="display: none">{{ 'Submitted data is not valid. Please re-check...'|trans }}</div>
                    {% verbatim %}
                    <div class="form-group">
                        <label for="variety">{% endverbatim %}{{ 'Variety'|trans }}{% verbatim %}</label>
                        <select ng-change="getValues()" id="variety" class="form-control custom-select" ng-model="productVariety.variety.id">
                            <option ng-repeat="variety in varieties" value="{{ variety.id }}">{{ variety.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{% endverbatim %}{{ 'Values'|trans }}{% verbatim %}</label>
                    </div>
                    <div ng-click="changeValues()" ng-repeat="value in values">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox" >
                                <input checked="checked" type="checkbox" class="custom-control-input js-value" id="value_{{ value.id }}" value-id="{{ value.id }}">
                                <label class="custom-control-label" for="value_{{ value.id }}">{{ value.name }}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select id="availability_{{ value.id }}" class="form-control custom-select">
                                <option ng-repeat="(availability, constant) in availabilities" value="{{ constant }}">{{ availability }}</option>
                            </select>
                        </div>
                    </div>
                    <button ng-click="submit()" class="btn btn-flat btn-primary">{% endverbatim %}{{ 'Save'|trans }}{% verbatim %}</button>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% embed 'extension/angular/_angular.html.twig' %}
        {% block core %}
            <script>
                const AVAILABILITY_AVAILABLE = '{{ constant('App\\Database\\Domain\\Model\\EntityState\\Availability::AVAILABLE') }}';
                const PRODUCT_ID             = '{{ product.id }}';

                const URL_GET_VARIETIES      = '{{ path('ajax_product_variety_get_varieties') }}';
                const URL_GET_VALUES         = '{{ path('ajax_product_variety_get_varieties_values') }}';
                const URL_GET_AVAILABILITIES = '{{ path('ajax_common_availabilities') }}';
                const URL_POST_VARIETY       = '{{ path('ajax_product_variety_add') }}';

                const REDIRECT_URL_PRODUCT   = '{{ path('admin_product_edit', {'id': product.id}) }}';
            </script>
            <script src="{{ asset('assets/angular/core/app.js') }}"></script>
            <script src="{{ asset('assets/angular/components/create-product-variety.js') }}"></script>
            <script src="{{ asset('assets/angular/services/util.service.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}
