{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}{{ 'Edit translation'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {% embed 'extension/tinymce/_tinymce.html.twig' with {'selector': 'product_translation_description'} %}{% endembed %}
{% endblock %}
