{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}{{ 'Edit product'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Product media'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ path('admin_product_media_add_remote_image', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add link'|trans }}</a>
                            <a href="{{ path('admin_product_media_add_local_image', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Upload image'|trans }}</a>
                            <a href="{{ path('admin_product_media_upload_multiple_images', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Upload mutliple'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Media type'|trans }}</th>
                                            <th>{{ 'Preview'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for image in product.media.images %}
                                            <tr class="tr-hover">
                                                <td>{{ image.type|trans }}</td>
                                                <td>
                                                    <img style="max-height: 256px; max-width: 256px" class="img-thumbnail" src="{{ asset(services.media.product.pic(image)) }}">
                                                </td>
                                                <td>
                                                    <a href="{{ path('admin_product_media_remove_image', {'id': product.id, 'imageId': image.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Variety'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_varieties_add', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add variety'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th>{{ 'Established values'|trans }}</th>
                                            <th>{{ 'Availability'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for productVariety in product.varieties %}
                                            <tr class="tr-hover">
                                                <td>{{ productVariety.variety.name }}</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <a href="{{ path('admin_product_varieties_edit', {'id': product.id, 'varietyId': productVariety.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_product_varieties_remove', {'id': product.id, 'varietyId': productVariety.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                            {% for productVarietyValue in productVariety.values %}
                                                <tr class="tr-hover">
                                                    <td></td>
                                                    <td>{{ productVarietyValue.attachedValue.value }}</td>
                                                    <td>{{ productVarietyValue.availability|trans }}</td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Specifications'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_specifications_add', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add specification'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th>{{ 'Category'|trans }}</th>
                                            <th>{{ 'Sub category'|trans }}</th>
                                            <th>{{ 'Established values'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for productSpecification in product.specifications %}
                                            <tr class="tr-hover">
                                                <td>{{ productSpecification.specification.name }}</td>
                                                <td>{{ productSpecification.productCategory ? productSpecification.productCategory.name : 'Not related to any'|trans }}</td>
                                                <td>{{ productSpecification.productSubCategory ? productSpecification.productSubCategory.name : 'Not related to any'|trans }}</td>
                                                <td></td>
                                                <td>
                                                    <a href="{{ path('admin_product_specifications_edit', {'id': product.id, 'specificationId': productSpecification.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_product_specifications_remove', {'id': product.id, 'specificationId': productSpecification.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                            {% for value in productSpecification.values %}
                                                <tr class="tr-hover">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>{{ services.text.short(value.value) }}</td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_create_translation', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Name'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for translation in product.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ translation.locale|upper }}</td>
                                                <td>{{ translation.name }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_edit_translation', {'id': product.id, 'transId': translation.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_product_remove_translation', {'id': product.id, 'transId': translation.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header bg-white">
                    <h5>{{ 'Meta data translations'|trans }}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('admin_product_create_meta_translation', {'id': product.id}) }}" class="btn btn-flat btn-info text-white">{{ 'Add translation'|trans }}</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>{{ 'Locale'|trans }}</th>
                                            <th>{{ 'Page title'|trans }}</th>
                                            <th>{{ 'Meta title'|trans }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for meta in product.meta.translations %}
                                            <tr class="tr-hover">
                                                <td>{{ meta.locale|upper }}</td>
                                                <td>{{ meta.pageTitle }}</td>
                                                <td>{{ meta.metaTitle }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_edit_meta_translation', {'id': product.id, 'transId': meta.id}) }}"><i class="ti-pencil"></i></a>
                                                    <a href="{{ path('admin_product_remove_meta_translation', {'id': product.id, 'transId': meta.id}) }}" class="js-delete-modal"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {% embed 'extension/tinymce/_tinymce.html.twig' with {'selector': 'product_description', 'images_upload_url': path('ajax_product_media_tiny_mce_upload_image', {'id': product.id})} %}{% endembed %}
{% endblock %}
