{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}{{ 'Edit product variety'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body" ng-init="init()" ng-app="app" ng-controller="editProductVarietyCtrl">
                    <div class="alert alert-danger" style="display: none" id="error">{{ 'Submitted data is not valid. Please re-check...'|trans }}</div>
                    {% verbatim %}
                    <div class="form-group">
                        <label for="variety">{% endverbatim %}{{ 'Variety'|trans }}{% verbatim %}</label>
                        <input class="form-control" type="text" disabled value="{{ productVariety.variety.name }}">
                    </div>
                    <div class="form-group">
                        <label>{% endverbatim %}{{ 'Values'|trans }}{% verbatim %}</label>
                    </div>
                    <div ng-click="changeValues()" ng-repeat="value in allValues">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox" >
                                <input ng-checked="value.checked" type="checkbox" class="custom-control-input js-value" id="value_{{ value.id }}" value-id="{{ value.id }}">
                                <label class="custom-control-label" for="value_{{ value.id }}">{{ value.name }}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select id="availability_{{ value.id }}" class="form-control custom-select">
                                <option ng-selected="value.availability == constant" ng-repeat="(availability, constant) in availabilities" value="{{ constant }}">{{ availability }}</option>
                            </select>
                        </div>
                    </div>
                    <button ng-click="submit()" class="btn btn-flat btn-primary">{% endverbatim %}{{ 'Save'|trans }}{% verbatim %}</button>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% embed 'extension/angular/_angular.html.twig' %}
        {% block core %}
            <script>
                const VARIETY_ID              = '{{ variety.id }}';

                const URL_GET_VALUES          = '{{ path('ajax_product_variety_get_varieties_values') }}';
                const URL_GET_AVAILABILITIES  = '{{ path('ajax_common_availabilities') }}';
                const URL_GET_PRODUCT_VARIETY = '{{ path('ajax_product_variety_get') }}';
                const URL_PUT_PRODUCT_VARIETY = '{{ path('ajax_product_variety_edit') }}';

                const REDIRECT_URL_PRODUCT    = '{{ path('admin_product_edit', {'id': product.id}) }}';
            </script>
            <script src="{{ asset('assets/angular/core/app.js') }}"></script>
            <script src="{{ asset('assets/angular/components/edit-product-variety.js') }}"></script>
            <script src="{{ asset('assets/angular/services/util.service.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}