{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}{{ 'Products'|trans }}{% endblock %}

{% block content %}
    {% embed 'admin/modules/_filters.html.twig' %}
        {% block creationDate %}{% endblock %}
        {% block clearFilters %}{{ path('admin_product_index') }}{% endblock %}

        {% block extraFilters %}
            <div class="row mt-3">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 mt-1" >
                    <label for="category">{{ 'Category'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="category" name="filters[category]" class="form-control">
                        <option value=""></option>
                        {% for category in possibleCategories %}
                            <option {% if queryParams.hasFilter('category') and queryParams.filter('category') == category.id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-1 mt-1">
                    <label for="subCategory">{{ 'Sub category'|trans }}</label>
                </div>
                <div class="col-lg-4">
                    <select id="subCategory" name="filters[subCategory]" class="form-control">
                        <option value=""></option>
                        {% for category in possibleSubCategories %}
                            <option {% if queryParams.hasFilter('subCategory') and queryParams.filter('subCategory') == category.id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-1"></div>
                <div class="col-lg-1 mt-1" >
                    <label for="search">{{ 'Search'|trans }}</label>
                </div>
                <div class="col-lg-9">
                    <input value="{% if queryParams.hasFilter('query') %}{{ queryParams.filter('query') }}{% endif %}" class="form-control" type="text" name="filters[query]" id="search">
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('admin_product_create') }}" class="btn btn-flat btn-info text-white">{{ 'Add product'|trans }}</a>
                            <button data-toggle="modal" data-target="#export-products" href="" class="btn btn-flat btn-outline-secondary">{{ 'Export'|trans }}</button>
                            <button data-toggle="modal" data-target="#import-products" class="btn btn-flat btn-outline-success">{{ 'Import'|trans }}</button>
                            <button id="edit-selected-products-btn" class="btn btn-flat btn-outline-danger">{{ 'Edit selected products'|trans }}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center mt-5">
                                        <thead class="text-uppercase bg-primary">
                                        <tr>
                                            <th>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="js-select-all-products">
                                                    <label class="custom-control-label" for="js-select-all-products"></label>
                                                </div>
                                            </th>
                                            <th>{{ knp_pagination_sortable(products, 'Vendor code'|trans, 'p.vendorCode') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Name'|trans, 'p.name') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Category'|trans, 'pc.name') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Sub category'|trans, 'psc.name') }}</th>
                                            <th>{{ knp_pagination_sortable(products, 'Price'|trans, 'p.price') }}</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set counter = 1 %}
                                        {% for product in products %}
                                            <tr class="tr-hover">
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input data-id="{{ product.id }}" type="checkbox" class="custom-control-input js-select-product" id="select_product_{{ counter }}">
                                                        <label class="custom-control-label" for="select_product_{{ counter }}"></label>
                                                    </div>
                                                </td>
                                                <td>{{ product.vendorCode ?: 'Not set'|trans }}</td>
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.productCategory ? product.productCategory.name : 'Not set'|trans }}</td>
                                                <td>{{ product.productSubCategory ? product.productSubCategory.name : 'Not set'|trans }}</td>
                                                <td>{{ product.price|number_format(2, '.', '') }}</td>
                                                <td>
                                                    <a href="{{ path('admin_product_clone', {'id': product.id}) }}"><i class="ti ti-files"></i></a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><i class="ti-pencil"></i></a>
                                                </td>
                                                <td>
                                                    <a  class="js-delete-modal" href="{{ path('admin_product_remove', {'id': product.id}) }}"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        {% embed 'admin/pagination/_admin_pagination.html.twig' with {'content': products} %}{% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('#js-select-all-products').on('change', function () {
            $('.js-select-product').prop('checked', $(this).prop('checked'));
        });

        $('.js-select-product, #js-select-all-products').on('change', toggleEditButton);

        $('#edit-selected-products-btn').on('click', function () {
            let products = retrieveSelectedProducts();

            if (products.length > 0) {
                let query = 'products=';
                products.forEach((product, index) => {
                   query +=  `${product}`;

                   if (index !== products.length - 1) {
                       query += ',';
                   }
                });

                window.location.replace(`{{ path('admin_product_edit_multiple') }}?${query}`)
            }
        }).hide();

        function retrieveSelectedProducts() {
            let res = [];
            $('.js-select-product:checked').each(function () {
                res.push($(this).data('id'));
            });

            return res;
        }

        function toggleEditButton() {
            if (retrieveSelectedProducts().length > 0) {
                $('#edit-selected-products-btn').show();
            } else {
                $('#edit-selected-products-btn').hide();
            }
        }

        $('#exportType').on('change', function () {
            if ($(this).val() !== 'xml') {
                $('#xml-return-life-link').hide();
            } else {
                $('#xml-return-life-link').show();
            }
        })
    </script>
{% endblock %}

{% block modals %}
{% embed 'admin/modals/_export_products.html.twig' %}{% endembed %}
{% embed 'admin/modals/_import_products.html.twig' %}{% endembed %}
{% endblock %}
