{% extends 'admin/admin_layout.html.twig' %}

{% block nav_product %}active{% endblock %}
{% block nav_products %}active{% endblock %}
{% block header_title %}{{ 'Editing multiple products'|trans }}{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h3>{{ 'You are editing'|trans }}</h3>
                    <div class="mt-20">
                        {% for product in products %}
                            <h6 class="mt-10">{{ product.name }}</h6>
                        {% endfor %}
                    </div>

                    <div class="alert alert-danger mt-20">
                        {{ 'Be careful! All chosed values will be applied to these products!'|trans }}
                    </div>
                </div>
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-1">
                            {% set link = path('admin_product_remove_multiple') ~ '?' %}
                            {% for product in products %}
                                {% set link = link ~ 'products[]=' ~ product.id ~ '&' %}
                            {% endfor %}
                            <a href="{{ link }}" class="btn btn-flat btn-danger text-white">{{ 'Remove'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
