<section class="pt-100 pb-100">
    <div class="container">
        <div class="organic-section-title text-center">
            <h3>{{ 'Categories'|trans }}</h3>
        </div>
        <div class="row mt-30">
            {% for category in catalogCategories %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="{{ path('site_catalog_category', {'categorySlug': category.slug}) }}">
                            <img width="128px" height="128px" src="{{ asset(services.media.product.picFromCategory(category)) }}" alt="" class="img">
                        </a>
                        <div class="desc">
                            <a href="{{ path('site_catalog_category', {'categorySlug': category.slug}) }}" class="">
                                <h5 class="fw500 text-dark js-module-header">
                                    {{ services.translator.trans(category, 'name') }}
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
