<section class="pt-100 pb-100">
    <div class="container">
        <div class="organic-section-title text-center">
            <h3>{{ title|trans }}</h3>
        </div>
        <div class="row mt-30">
            {% for product in content %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="{{ path('site_product_index', {'product': product.slug}) }}"><img width="128px" height="128px" src="{{ asset(services.media.product.pic(product)) }}" alt="" class="img"></a>
                        <div class="desc">
                            <a href="{{ path('site_product_index', {'product': product.slug}) }}" class="">
                                <h5 class="fw500 text-dark js-module-header">{{ services.translator.trans(product, 'name') }}</h5>
                            </a>
                            <div class="price js-module-price">
                                {% if not product.promo.isSaleStatus %}
                                    <span class="lnr lnr-tag"></span>
                                {% endif %}
                                <span class="{{ product.promo.isSaleStatus ? 'crossed' : '' }}">{{ product.price|number_format(2, '.', '') }} {{ currency|trans }}</span>
                                {% if product.promo.isSaleStatus %}
                                    <div class="price">
                                        <span class="lnr lnr-tag text-success"></span><span>{{ product.promo.salePrice|number_format(2, '.', '') }} {{ currency|trans }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if content|length < 1 %}
            <div class="jumbotron text-center">
                <div class="display-4">
                    {{ 'No products found'|trans }}
                </div>
            </div>
        {% endif %}
    </div>
</section>
