<div class="col-lg-4 col-md-4 col-sm-6 col-6 js-product-cart">
    <div class="card mt-20">
        <a href="{{ path('site_product_index', {'product': product.slug}) }}">
            <div class="container-fluid">
                <div class="row js-img-container align-items-center">
                    <img width="400px" data-id="{{ product.id }}" style="cursor: pointer;" src="{{ asset(services.media.product.pic(product)) }}"
                         class="img-fluid js-product-pic" alt="{{ services.translator.trans(product, 'name') }}">
                </div>
            </div>
        </a>
        <div class="card-body js-product-body">
            <a href="{{ path('site_product_index', {'product': product.slug}) }}">
                <div class="mb-10">
                    <h4>
                        {% if product.promo.isSpecialStatus %}
                            <span class="badge {{ services.styles.product.specialStatus(product) }}">{{ product.promo.getSpecialStatus|trans }}</span>
                        {% endif %}
                    </h4>
                </div>
                <h5 class="card-title fw500 js-product-name">{{ services.translator.trans(product, 'name') }}</h5>
                <h5>
                    {% if not product.promo.saleStatus %}<span class="lnr lnr-tag"></span>{% endif %}
                    <span class="js-product-price {{ product.promo.saleStatus ? 'crossed' : '' }}">{{ product.price|number_format(2, '.', '') }} {{ currency|trans }}</span>
                </h5>
                {% if product.promo.saleStatus %}
                    <h5>
                        <span class="lnr lnr-tag text-success"></span>
                        <span class="js-product-price">{{ product.promo.salePrice|number_format(2, '.', '') }} {{ currency|trans }}</span>
                    </h5>
                {% endif %}
            </a>
        </div>
        <div class="card-footer text-center">
            {% set iterated = 0 %}
            {% for cartItem in cart.cartProducts %}
                {% if cartItem.relatedProduct.id == product.id %}
                    <button class="view-btn color-2 js-product-btn" onclick="toCart()">
                        <span>{{ 'In cart'|trans }}</span>
                        <span class="lnr lnr-checkmark-circle"></span>
                    </button>
                    {% set iterated = 1 %}
                {% endif %}
            {% endfor %}
            {% if not iterated %}
                <button data-id="{{ product.id }}" class="view-btn color-2 js-product-btn js-add-to-cart">
                    <span data-id="{{ product.id }}" >{{ 'Buy'|trans }}</span>
                    <span data-id="{{ product.id }}" class="lnr lnr-cart ml-10"></span>
                </button>
            {% endif %}
        </div>
    </div>
</div>
