<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block metaDescription %}{% endblock %}">
    <meta name="title" content="{% block metaTitle %}{% endblock %}">
    <meta name="keywords" content="{% block metaKeywords %}{% endblock %}">
    {% block microMarking %}{% endblock %}
    {% block jsonLd %}{% endblock %}
    {% block metrics %}
        {{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::METRICS_GOOGLE')).value|raw }}
        {{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::METRICS_GOOGLE_SEARCH_CONSOLE')).value|raw }}
        {{ services.globals.byKey(constant('App\\Database\\Domain\\Entity\\Globals::METRICS_YANDEX')).value|raw }}
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('assets/site/themes/default/css/bootstrap.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/site/themes/default/css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/site/themes/default/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/site/themes/default/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/site/themes/default/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/site/css/custom.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block modals %}{% endblock %}

<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script type="application/javascript" src="{{ asset('assets/site/themes/default/js/vendor/jquery-2.2.4.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/site/themes/default/js/vendor/bootstrap.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/site/themes/default/js/jquery.ajaxchimp.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/site/themes/default/js/jquery.sticky.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/site/themes/default/js/main.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/site/js/jquery/jquery-punch.js') }}"></script>
<script type="application/javascript" src="{{ asset('assets/site/js/global.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>
