{% extends 'site/themes/default/site_layout.html.twig' %}

{% block title %}{{ 'Oops... Something went wrong...'|trans }}{% endblock %}

{% block content %}
    <section class="banner-area mt-60 error-container">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-md-4 text-center">
                </div>
                <div class="banner-content col-lg-6 col-md-12 mt-50 mb-50 text-center">
                    <h1 class="text-uppercase">{{ error.code }}</h1>
                    <h3 class="text-white">{{ error.message }}</h3>
                </div>
                    <div class="col-lg-3 col-md-4 mt-50 mb-50 text-center">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
