{% extends 'site/themes/default/base.html.twig' %}

{% block body %}
    <header class="default-header" id="home">
        <div class="menutop-wrap">
            <div class="menu-top container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="list">
                        {% set contactPhone = services.globals.get('contact_phone') %}
                        {% set contactEmail = services.globals.get('contact_email') %}
                        <li><a href="tel:{{ contactPhone }}">{{ contactPhone }}</a></li>
                        <li><a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a></li>
                    </ul>
                    <ul class="list">
                        {% if app.user and app.user.isAdmin %}
                        <li><a href="{{ path('admin_dashboard_index') }}">Admin</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('site_index') }}">
                    <img width="32px" height="32px" src="{{ asset('favicon.ico') }}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a href="{{ path('site_index') }}">{{ 'Home page'|trans }}</a></li>
                        <li><a href="{{ path('site_catalog_index') }}">{{ 'Catalog'|trans }}</a></li>
                        <li>
                            <a href="{{ path('site_cart_index') }}">
                                {{ 'Checkout'|trans }} <span class="lnr lnr-cart ml-5" id="js-cart-product-counter">{{ cart.cartProducts|length }}</span>
                            </a>
                        </li>
                        <li><a href="{{ path('site_contact_index') }}">{{ 'Contacts'|trans }}</a></li>
                        {% for element in headerMenu.elements %}
                            {% if element.isEnabled %}
                                {% if element.isLink %}
                                    {% set menuLink = element.link %}
                                    {% if menuLink %}
                                        <li>
                                            {% if menuLink.isInternal and menuLink.sitePage %}
                                                <a href="{{ path('site_pages_index', {'pageSlug': menuLink.sitePage.slug}) }}">{{ services.translator.trans(menuLink, 'name') }}</a>
                                            {% endif %}
                                            {% if menuLink.isExternal and menuLink.url %}
                                                <a href="{{ menuLink.url }}">{{ services.translator.trans(menuLink, 'name') }}</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if element.isLinkCollection %}
                                    {% set menuLinks = element.links %}
                                    {% if menuLinks %}
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                                {{ services.translator.trans(element, 'linkCollectionName') }}
                                            </a>
                                            <div class="dropdown-menu">
                                                {% for menuLink in menuLinks %}
                                                    {% if menuLink.isInternal and menuLink.sitePage %}
                                                        <a class="dropdown-item" href="{{ path('site_pages_index', {'pageSlug': menuLink.sitePage.slug}) }}">{{ services.translator.trans(menuLink, 'name') }}</a>
                                                    {% endif %}
                                                    {% if menuLink.isExternal and menuLink.url %}
                                                        <a class="dropdown-item" href="{{ menuLink.url }}">{{ services.translator.trans(menuLink, 'name') }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% set route = app.request.attributes.get('_route') %}
                        {% set route_params = app.request.attributes.get('_route_params') %}
                        {% set params = route_params|merge(app.request.query.all) %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                {{ app.request.locale|upper }}
                            </a>
                            {% set locales = services.globals.get('enabled_locales').toArray %}
                            <div class="dropdown-menu">
                                {% for locale in locales %}
                                    <a class="dropdown-item" href="{{ path(route, params|merge({ _locale: locale })) }}">
                                        <img width="45px" height="32px" src="{{ asset('img/flags/' ~ locale ~ '.png') }}" alt="{{ locale }}"> <span style="margin-left: 20px;">{{ locale|upper }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>{{ 'About Us'|trans }}</h6>
                        <p style="color: white" >
                            <span class="fw500 text-white">Соноко - это пример Интернет-магазина, который может быть Вашим. Тоесть вы можете получить уже готовое решение за приемлемую стоимость</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="mb-20">{{ 'Links'|trans }}</h6>
                        <p class="footer-text m-0 p-0">
                            {% for element in footerMenu.elements %}
                                {% if element.isEnabled %}
                                    {% if element.isLink %}
                                        {% set menuLink = element.link %}
                                        {% if menuLink %}
                                            {% if menuLink.isInternal and menuLink.sitePage %}
                                                <a href="{{ path('site_pages_index', {'pageSlug': menuLink.sitePage.slug}) }}">{{ services.translator.trans(menuLink, 'name') }}</a>
                                            {% endif %}
                                            {% if menuLink.isExternal and menuLink.url %}
                                                <a href="{{ menuLink.url }}">{{ services.translator.trans(menuLink, 'name') }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>{{ 'Follow Us'|trans }}</h6>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    <span class="fw500 text-white">Создание и разработка сайтов</span>
                    <a href="https://itify.com.ua">itify.com.ua</a>
                </p>
            </div>
        </div>
    </footer>
{% endblock %}
